%li.item
  .summary
    .title
      = link_to_topic(@topic)
    .info
      .metadata
        = link_to "✕", unfollow_topic_path(@topic), :class => "unfollow_link"
        - count = @topic.questions_count
        = format_number(count)
        = t(:question_count, :scope => "activerecord.models", :count => count)
    .clear
