-# Topic selection for questions with autocompletion.

= text_field "topics", "", :class => "text_field autocomplete_for_tags", :id => "question-topics-autocomplete"
#question-topics-suggestions
%ul#selected-topics
  - @question.topics.each do |topic|
    %li
      = topic.title
      %input{:type => "hidden", :name => "question[topics][]", :value => topic.title}
      %span.remove
        = t("scaffold.destroy")
