-# Topic selection for questions with autocompletion.

= text_field "topics", "", :class => "text_field autocomplete_for_tags", :id => "question-topics-autocomplete"
%ul#question-topics-suggestions.autocomplete-list
%ul#selected-topics.topic-list
  - @question.topics.each do |topic|
    = render :partial => "topics/box", :locals => {:topic => topic}
