- if question.requested_users.present?
  %h3= t("questions.show.requested_users")
  = render_cell :users, :list, :users => question.requested_users
  = link_to t("questions.show.request_answer"),
    new_answer_request_path(:question_id => question.id, :format => :js),
    :class => "request-answer-button smaller",
    :remote => true,
    "data-type" => "json"
- else
  = link_to t("questions.show.request_answer"),
    new_answer_request_path(:question_id => question.id, :format => :js),
    :class => "request-answer-button",
    :remote => true,
    "data-type" => "json"
