- form_tag "/share_question", :method => :post, :id => "share-question-widget" do
  = text_field_tag "body", @question.title
  = hidden_field_tag "question", @question.id
  = hidden_field_tag "where", "facebook"
  = submit_tag "Compartilhar"
