- topics.each do |topic|
  %li
    .topic.info
      %span.topic-title
        = link_to_topic(topic)
    .controls
      .follow-info
        = link_to "#{t("followable.follow")}", follow_topic_path(topic, :single_column => single_column), :class => "follow_link", :method => :post
      .refuse-suggestion
        = link_to "✕", refuse_suggestion_path(:topic => topic.id, :single_column => single_column), :method => :post
