#topic-suggestions.block.suggestions.suggestions-two-columns
  - if @suggested_topics_left.present?
    %h3.title
      = t("followable.suggestions.topics")
    .suggestion-left
      %ul.topic-list
        = render :partial => "topic_list", :locals => {:topics => @suggested_topics_left, :one_column => false}
  - if !@suggested_topics_right.blank?
    .suggestion-right
      %ul.topic-list
        = render :partial => "topic_list", :locals => {:topics => @suggested_topics_right, :one_column => false}
