#agreement-explanation { width: 550px; margin: 0 auto 20px auto; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; border-width: 1px; border-color: #bbbbbb; background-color: #eeeeee; border-style: solid; padding: 10px; }
#agreement-explanation h2 { font-size: 17px; }

#agreement-terms { max-height: 400px; overflow-y: scroll; margin-bottom: 20px; padding: 10px; border-width: 1px; border-style: solid; border-color: #cccccc; }

#agreement-control { margin-bottom: 20px; }
#agreement-control #accept-agreement-form { float: left; }
#agreement-control #refuse-agreement { float: right; }
