/* incase an inverted custom gradient isn't specified */
.fancy-button-reset-base-class, a.big_cancel_button, a.big_confirm_button, form.share_content .submit_button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1279768283') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
.fancy-button-reset-base-class::-moz-focus-inner, a.big_cancel_button::-moz-focus-inner, a.big_confirm_button::-moz-focus-inner, form.share_content .submit_button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.fancy-button-reset-base-class:focus, a.big_cancel_button:focus, a.big_confirm_button:focus, form.share_content .submit_button:focus {
  outline: none;
}

ul#nav {
  padding: 10px 20px;
  background-color: #ebebeb;
  border: 1px solid black;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
}
ul#nav li {
  padding: 4px;
}

* {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
  height: 0;
}

h1 {
  margin: 15px 0;
  font-size: 22px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  margin: 15px 0;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal;
}

h4 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal;
}

hr {
  height: 1px;
  border: 0;
}

p {
  margin: 15px 0;
}

a img {
  border: none;
}

body {
  font-size: 12px;
  font-family: sans-serif;
}

#container {
  min-width: 960px;
}

#wrapper {
  padding: 0 20px;
}

.actions-bar {
  padding: 10px 1px;
}
.actions-bar .actions {
  float: left;
}
.actions-bar .pagination {
  float: right;
  padding: 1px 0;
}

#sidebar h3 {
  padding: 10px 15px;
  margin: 0;
  margin-bottom: 3px;
}
#sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
  clear: both;
}
#sidebar .block .content {
  padding: 0 15px;
}
#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
  display: block;
  padding: 10px 15px;
}
#sidebar .block .sidebar-block, #sidebar .notice, #sidebar .help {
  padding: 10px;
}
#sidebar .help h4 {
  margin: 5px 0;
  font-size: 17px;
  font-weight: bold;
}

#wrapper {
  padding-top: 20px;
}

#main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}
#main .block .content .inner {
  padding: 0 15px 15px;
}
#main .main p.first {
  margin-top: 0;
}

#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px;
}

#main-navigation {
  width: 100%;
}

#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
  float: left;
}

#main-navigation ul li {
  margin-right: 5px;
}

#user-navigation ul li {
  padding: 5px 10px;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
  text-decoration: none;
}

.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
  text-decoration: none;
}

h1.navtitle {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 13px;
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

.secondary-navigation .navtitle {
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

#main .content .secondary-navigation .navtitle {
  line-height: 14px;
  margin-top: 4px;
}

#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
}

#main-navigation ul li a {
  font-size: 15px;
  display: block;
  padding: 8px 15px;
}

.secondary-navigation {
  font-size: 13px;
  padding-top: 2px;
}
.secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;
}

.ccontrol {
  padding-top: 5px;
  padding-bottom: 6px;
}

#footer {
  padding-bottom: 20px;
  padding-top: 1em;
}

.pagination a {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}
.pagination span {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}
.pagination span.current {
  font-weight: bold;
}
.pagination a {
  text-decoration: none;
}

.title .counter {
  font-size: 25px;
  color: #666666;
  display: inline;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}
.table th.first {
  width: 30px;
}
.table th.last {
  width: 200px;
}
.table .checkbox {
  margin-left: 10px;
}
.table td {
  padding: 10px;
}
.table td.last {
  text-align: right;
}

input.checkbox {
  margin: 0;
  padding: 0;
}

.form .group {
  margin-bottom: 13px;
}
.form div.left {
  width: 20%;
  float: left;
}
.form div.right {
  width: 75%;
  float: right;
}
.form .columns .column {
  width: 48%;
}
.form .columns .left {
  float: left;
}
.form .columns .right {
  float: right;
}
.form textarea.comment_text_area {
  font-size: 13px;
  line-height: 26px;
  margin: -2px 0 -1px 0;
  height: auto;
  width: 100%;
  padding: 0;
}
.form label.label, .form input.text_field, .form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form label.right {
  text-align: right;
}
.form input.checkbox, .form input.radio {
  margin-right: 5px;
}
.form label.checkbox, .form label.radio {
  line-height: 1.5em;
}
.form label.label {
  display: block;
  padding-bottom: 2px;
  font-weight: bold;
}
.form div.fieldWithErrors label.label {
  display: inline;
}
.form .fieldWithErrors .error {
  color: red;
}
.form input.text_field, .form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}
.form input.text_field.filter_field, .form textarea.text_area.filter_field {
  width: 30%;
}

ul.share {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.share li {
  margin: 0 4px 0 0;
}

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.list li {
  clear: left;
  padding-bottom: 5px;
}
ul.list li .left {
  float: left;
}
ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}
ul.list li .item {
  margin-left: 80px;
}
ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}

#box {
  width: 500px;
  margin: 50px auto;
}
#box .block {
  margin-bottom: 20px;
}
#box .block h2 {
  padding: 10px 15px;
  margin: 0;
}
#box .block .content {
  padding: 10px 20px;
}

#additional_info, .additional_info {
  margin-top: 10px;
}
#additional_info .pagination, .additional_info .pagination {
  float: left;
  font-size: 12px;
}
#additional_info #help_us, .additional_info #help_us {
  float: left;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 16px;
}

.microblogging {
  float: left;
  margin: 5px 5px 5px 0px;
}

.video_thumbnail {
  width: 130px;
  height: 97px;
  cursor: pointer;
}

.thumb {
  position: relative;
}

.play_button {
  opacity: 0.7;
  position: absolute;
  left: 50px;
  top: 35px;
  border: medium none;
  cursor: pointer;
}

.highlight {
  background: #ffffe3;
}

ol.manage-domain {
  margin-left: 3em;
  margin-bottom: 2em;
}
ol.manage-domain li {
  font-size: 18px;
}

span.persistent_message {
  background-color: #ffff88;
  display: block;
  margin: auto;
  position: relative;
  text-align: center;
  top: -26px;
  width: 100%;
}

input[readonly] {
  background-color: #cccccc;
  color: #666666;
  border-color: #bbbbbb;
}

input[readonly]:hover {
  background-color: #cccccc;
  color: #666666;
  border-color: #bbbbbb;
}

.clear {
  clear: both;
  height: 0;
}

.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.italic {
  font-style: italic !important;
  display: inline;
}

.bold {
  font-weight: bold !important;
  display: inline;
}

a.tag {
  display: inline;
  margin: 2px;
  padding: 2px 4px;
  background-color: #ebebeb;
  color: #445566;
  font-weight: bold;
  font-size: 10px;
}
a.tag:hover {
  background-color: #9cc3ea;
}

.inline {
  display: inline;
}

.bignum {
  font-size: 36pt;
  color: #888888;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.feeds .feed_entry {
  display: block;
  margin-bottom: 4px;
}
.feeds .feed_entry a {
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}
.feeds .feed_entry a span {
  margin-bottom: -4px;
}
.feeds .feed_entry a:hover {
  text-decoration: underline;
}

#external_accounts {
  list-style: none;
  padding: 0;
  margin: 0;
}
#external_accounts li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dddddd;
}
#external_accounts a.connect, #external_accounts a.disconnect {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  width: 80px;
  text-align: center;
  margin-left: 10px;
}
#external_accounts a.connect, #external_accounts a.disconnect {
  *display: inline;
}
#external_accounts a.connect img, #external_accounts a.disconnect img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
#external_accounts a.connect[type], #external_accounts a.disconnect[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html #external_accounts a.connect[type], *:first-child + html #external_accounts a.disconnect[type] {
  padding: 4px 10px 3px 7px;
}
#external_accounts a.connect:hover, #external_accounts a.disconnect:hover {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
#external_accounts a.connect:active, #external_accounts a.disconnect:active {
  background-color: #a80000;
  border-color: #b81010 #a80000 #a80000 #b81010;
  color: white;
}
#external_accounts a.connect.current, #external_accounts a.disconnect.current {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
#external_accounts .controls {
  float: right;
}
#external_accounts .dac_input {
  display: inline;
  width: 70px;
}
#external_accounts .dac_form {
  display: none;
}
#external_accounts a.dac_connect, #external_accounts input[type='submit'].dac_connect {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  width: 60px;
  text-align: center;
  background-color: whiteSmoke;
  border-color: #eeeeee;
  color: #565656;
}
#external_accounts a.dac_connect, #external_accounts input[type='submit'].dac_connect {
  *display: inline;
}
#external_accounts a.dac_connect img, #external_accounts input[type='submit'].dac_connect img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
#external_accounts a.dac_connect[type], #external_accounts input[type='submit'].dac_connect[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html #external_accounts a.dac_connect[type], *:first-child + html #external_accounts input[type='submit'].dac_connect[type] {
  padding: 4px 10px 3px 7px;
}
#external_accounts a.dac_connect:hover, #external_accounts input[type='submit'].dac_connect:hover {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
#external_accounts a.dac_connect:active, #external_accounts input[type='submit'].dac_connect:active {
  background-color: #a80000;
  border-color: #b81010 #a80000 #a80000 #b81010;
  color: white;
}
#external_accounts a.dac_connect.current, #external_accounts input[type='submit'].dac_connect.current {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}

.markdown {
  color: #222222;
}
.markdown p {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin: 0 0 13px;
  font-size: 13px;
  line-height: 22px;
  font-family: Helvetica, Arial, "Liberation Sans", "DejaVu Sans", sans-serif;
}
.markdown p + p, .markdown ul + p, .markdown ol + p {
  margin-top: 0.8em;
}
.markdown p + ul {
  margin-top: 0.8em;
}
.markdown strong {
  font-weight: bold;
}
.markdown em {
  font-style: italic;
}
.markdown ul {
  list-style: disc;
}
.markdown ol {
  list-style: decimal;
}
.markdown li {
  line-height: 22px;
}
.markdown li + li {
  margin-top: 0.9em;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  color: #222222;
  font-weight: bold;
}
.markdown h1 {
  font-size: 20px;
}
.markdown h2 {
  font-size: 17px;
  line-height: 30px;
}
.markdown h3 {
  font-size: 15px;
}
.markdown h4 {
  font-size: 14px;
}
.markdown h5 {
  font-size: 14px;
}
.markdown code {
  background-color: #f0f0f0;
  max-height: 600px;
  overflow: auto;
  width: auto;
  display: inline;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
.markdown pre code {
  display: block;
}
.markdown blockquote {
  width: 95%;
  margin: 1em;
  display: block;
  background-color: #f0f0f0;
  word-wrap: break-word;
  quotes: none;
  vertical-align: baseline;
}

.markdown_toolbar {
  position: relative;
  list-style: none;
  border: 1px solid #d7d7d7;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  height: 18px;
  margin-bottom: 2px;
}
.markdown_toolbar li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.markdown_toolbar li a {
  width: 24px;
  height: 16px;
  float: left;
  display: block;
  background-image: url(/images/markdown_icons.gif);
  border: 1px solid white;
  border-right-color: #d7d7d7;
}
.markdown_toolbar li a:hover {
  border-color: #990000;
}
.markdown_toolbar li span {
  display: none;
}
.markdown_toolbar li a#markdown_help_button {
  position: absolute;
  top: 0;
  rightright: 0;
  border-left-color: #d7d7d7;
  border-right-color: white;
}
.markdown_toolbar li a#markdown_help_button:hover {
  border-left-color: #990000;
  border-right-color: #990000;
}

#markdown_italics_button {
  background-position: 0 -119px;
}

#markdown_bold_button {
  background-position: 0 -102px;
}

#markdown_link_button {
  background-position: 0 0;
}

#markdown_image_button {
  background-position: 0 -170px;
}

#markdown_unordered_list_button {
  background-position: 0 -34px;
}

#markdown_ordered_list_button {
  background-position: 0 -51px;
}

#markdown_quote_button {
  background-position: 0 -68px;
}

#markdown_code_button {
  background-position: 0 -136px;
}

#markdown_help_button {
  background-position: 0 -153px;
}

#markdown_heading_button {
  background-position: 0 -85px;
}

#markdown_latex_button {
  background-position: 0 -306px;
}

.resizeHandle {
  overflow: hidden;
  width: 22px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/handle.png);
  cursor: n-resize;
}

.errorExplanation {
  margin-bottom: 10px;
  padding: 10px;
}
.errorExplanation ul {
  list-style-type: none;
}
.errorExplanation ul li {
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #666666;
}

.fieldWithErrors {
  padding: 5px;
  background: #ffdddd;
}

ul.combobox {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: outside;
  display: inline;
}
ul.combobox li {
  float: left;
  margin-right: 0.7em;
}
ul.combobox li:hover ul {
  left: auto;
  z-index: 2;
}
ul.combobox li ul {
  position: absolute;
  background-color: #ebebeb;
  display: block;
  border: 1px solid #dcdcdc;
  left: -999em;
  list-style: none;
}
ul.combobox li ul li {
  width: 100%;
  display: block;
  clear: both;
}
ul.combobox li ul li:hover {
  background-color: #e0e0e0;
}
ul.combobox li ul li a {
  padding: 4px;
  color: #666666;
  text-decoration: none;
  display: block;
}

ul.combobox li:hover ul, ul.combobox li.sfhover ul {
  left: auto;
  max-height: 40em;
  overflow: auto;
}

#cboxOverlay {
  background-color: black;
}

#cboxContent .modal {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-color: #da242b;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  background-color: white;
  width: 400px;
}
#cboxContent .modal h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
#cboxContent .modal .controls {
  margin-top: 30px;
  float: right;
}
#cboxContent .modal .controls a, #cboxContent .modal .controls input[type=submit] {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  margin: 0 0 0 3px;
}
#cboxContent .modal .controls a, #cboxContent .modal .controls input[type=submit] {
  *display: inline;
}
#cboxContent .modal .controls a img, #cboxContent .modal .controls input[type=submit] img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
#cboxContent .modal .controls a[type], #cboxContent .modal .controls input[type=submit][type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html #cboxContent .modal .controls a[type], *:first-child + html #cboxContent .modal .controls input[type=submit][type] {
  padding: 4px 10px 3px 7px;
}
#cboxContent .modal .controls a:hover, #cboxContent .modal .controls input[type=submit]:hover {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
#cboxContent .modal .controls a:active, #cboxContent .modal .controls input[type=submit]:active {
  background-color: #a80000;
  border-color: #b81010 #a80000 #a80000 #b81010;
  color: white;
}
#cboxContent .modal .controls a.current, #cboxContent .modal .controls input[type=submit].current {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}

#cboxContent .modal.share-question-widget textarea[name=body] {
  width: 100%;
  height: 50px;
  margin: 0;
}
#cboxContent .modal.share-question-widget .message {
  margin-bottom: 10px;
}
#cboxContent .modal.share-question-widget .charcount {
  margin-top: 10px;
  text-align: right;
}

.profile_inline_editable.markdown p {
  margin: 0;
}

.inline_editable_container a.inline_link, .inline_editable_container img.ajax_waiting_image {
  display: none;
}
.inline_editable_container a.edit_link {
  display: inline;
  position: relative;
  padding: 0 3px;
  margin-left: 10px;
  margin-top: 1px;
  z-index: 1;
  font-size: 9px;
}
.inline_editable_container a.edit_link:hover, .inline_editable_container a.cancel_link:hover {
  color: #0088ee;
  text-decoration: underline !important;
}

a.active_inline_link {
  position: absolute;
  z-index: 1;
  margin-top: 1px;
}

a.save_link {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  padding: 1px 8px;
  border: 1px solid #758c1a;
  text-align: center;
  text-decoration: none !important;
}
a.save_link:hover {
  background-color: #f8f8f8;
  color: #0055aa;
}

a.cancel_link {
  padding-top: 2px;
  font-size: 12px;
}

.inline_editable {
  position: relative;
}

.inline_dblclick_editable:hover {
  background-color: #dddddd;
  cursor: pointer;
}

img.active_ajax_waiting_image {
  padding-left: 5px;
}

.empty_inline_editable_field {
  color: #999999 !important;
  font-size: 11px !important;
}

#announcement {
  background-color: #b2ffa4;
  margin-bottom: 5px;
}
#announcement #announcement_message {
  text-align: center;
  color: #3f3a2f;
  margin: 4px 20px;
  float: left;
  width: 90%;
}
#announcement #announcement_message p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}
#announcement a#hide_announcement {
  float: left;
  width: 5%;
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
}

.tag_cloud {
  font-size: 1.2em;
  line-height: 1.44em;
}
.tag_cloud .xxs, .tag_cloud .xs, .tag_cloud .s, .tag_cloud .l, .tag_cloud .xl, .tag_cloud .xxl {
  line-height: 1.44em;
}
.tag_cloud .xxs {
  font-size: 0.6em;
}
.tag_cloud .xs {
  font-size: 0.8em;
}
.tag_cloud .s {
  font-size: 0.9em;
}
.tag_cloud .l {
  font-size: 1.6em;
}
.tag_cloud .xl {
  font-size: 1.8em;
}
.tag_cloud .xxl {
  font-size: 2.4em;
}

span.persistent_message {
  text-align: center;
  background-color: #ffff88;
  width: 100%;
  padding: 3px 0;
  position: relative;
  top: -26px;
  display: block;
}

#messages li {
  list-style: none;
}

textarea.text_area {
  height: 120px;
}

textarea.comment_text_area {
  height: 60px;
  border-bottom: 1px solid #dddddd;
  border-left: 2px solid #cccccc;
  border-right: 1px solid #dddddd;
  border-top: 2px solid #cccccc;
  width: 99%;
}

#main-doc {
  background-color: white;
  text-align: center;
  padding-top: 1em;
}

a.big_cancel_button {
  padding: 10px;
  margin-bottom: 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #d90000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff2626), color-stop(100%, #ba0000));
  background-image: -moz-linear-gradient(top, #ff2626 0%, #ba0000 100%);
  background-image: linear-gradient(top, #ff2626 0%, #ba0000 100%);
  border-color: #8d0000;
  text-shadow: #5a0000 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.43) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.43) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.43) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.43) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  color: white !important;
}
a.big_cancel_button, a.big_cancel_button:visited {
  color: white;
}
a.big_cancel_button:hover, a.big_cancel_button:focus {
  background-color: #ca0000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff1818), color-stop(100%, #ab0000));
  background-image: -moz-linear-gradient(top, #ff1818 0%, #ab0000 100%);
  background-image: linear-gradient(top, #ff1818 0%, #ab0000 100%);
  border-color: #7e0000;
  text-shadow: #4a0000 0px 1px 1px;
}
a.big_cancel_button:hover, a.big_cancel_button:hover:visited, a.big_cancel_button:focus, a.big_cancel_button:focus:visited {
  color: white;
}
a.big_cancel_button:active {
  background-color: #ba0000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b40000), color-stop(40%, #c40000), color-stop(85%, #c40000), color-stop(100%, #e70000));
  background-image: -moz-linear-gradient(top, #b40000 0%, #c40000 40%, #c40000 85%, #e70000 100%);
  background-image: linear-gradient(top, #b40000 0%, #c40000 40%, #c40000 85%, #e70000 100%);
  border-color: #6e0000;
  text-shadow: #3a0000 0px -1px -1px;
  -moz-box-shadow: #8d0000 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #8d0000 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #8d0000 0 0.08em 0.1em 1px inset;
  box-shadow: #8d0000 0 0.08em 0.1em 1px inset;
}
a.big_cancel_button:active, a.big_cancel_button:active:visited {
  color: white;
}

a.big_confirm_button {
  padding: 10px;
  margin-bottom: 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  border-color: #a4a4a4;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.79) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.79) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.79) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.79) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  color: #00527e;
}
a.big_confirm_button, a.big_confirm_button:visited {
  color: #222222;
}
a.big_confirm_button:hover, a.big_confirm_button:focus {
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #b3b3b3));
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, #b3b3b3 100%);
  background-image: linear-gradient(top, #e8e8e8 0%, #b3b3b3 100%);
  border-color: #9c9c9c;
  text-shadow: white 0px 1px 1px;
}
a.big_confirm_button:hover, a.big_confirm_button:hover:visited, a.big_confirm_button:focus, a.big_confirm_button:focus:visited {
  color: #222222;
}
a.big_confirm_button:active {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b9b9b9), color-stop(40%, #c0c0c0), color-stop(85%, #c0c0c0), color-stop(100%, #d2d2d2));
  background-image: -moz-linear-gradient(top, #b9b9b9 0%, #c0c0c0 40%, #c0c0c0 85%, #d2d2d2 100%);
  background-image: linear-gradient(top, #b9b9b9 0%, #c0c0c0 40%, #c0c0c0 85%, #d2d2d2 100%);
  border-color: #959595;
  text-shadow: white 0px -1px -1px;
  -moz-box-shadow: #a4a4a4 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #a4a4a4 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #a4a4a4 0 0.08em 0.1em 1px inset;
  box-shadow: #a4a4a4 0 0.08em 0.1em 1px inset;
}
a.big_confirm_button:active, a.big_confirm_button:active:visited {
  color: #222222;
}

a.missing_page:link, a.missing_page:visited, a.missing_page:hover, a.missing_page:active {
  color: red;
}

#retag {
  margin-left: 1em;
  font-size: 12px;
  position: relative;
  color: #666666;
}

a.important {
  color: #ce0000 !important;
  font-weight: bold;
}

.comment-form {
  width: 91%;
  margin-left: 51px;
}

#default_footer {
  margin: 10px 0;
  font-size: 9px;
}

.widget#users {
  white-space: nowrap;
}

.add_answer_comment_link {
  color: #666666;
  padding-left: 5px;
}

form.share_content label.label {
  display: inline;
  width: auto;
}
form.share_content .submit_button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  border-color: #a4a4a4;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.79) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.79) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.79) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.79) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
}
form.share_content .submit_button, form.share_content .submit_button:visited {
  color: #222222;
}
form.share_content .submit_button:hover, form.share_content .submit_button:focus {
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #b3b3b3));
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, #b3b3b3 100%);
  background-image: linear-gradient(top, #e8e8e8 0%, #b3b3b3 100%);
  border-color: #9c9c9c;
  text-shadow: white 0px 1px 1px;
}
form.share_content .submit_button:hover, form.share_content .submit_button:hover:visited, form.share_content .submit_button:focus, form.share_content .submit_button:focus:visited {
  color: #222222;
}
form.share_content .submit_button:active {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b9b9b9), color-stop(40%, #c0c0c0), color-stop(85%, #c0c0c0), color-stop(100%, #d2d2d2));
  background-image: -moz-linear-gradient(top, #b9b9b9 0%, #c0c0c0 40%, #c0c0c0 85%, #d2d2d2 100%);
  background-image: linear-gradient(top, #b9b9b9 0%, #c0c0c0 40%, #c0c0c0 85%, #d2d2d2 100%);
  border-color: #959595;
  text-shadow: white 0px -1px -1px;
  -moz-box-shadow: #a4a4a4 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #a4a4a4 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #a4a4a4 0 0.08em 0.1em 1px inset;
  box-shadow: #a4a4a4 0 0.08em 0.1em 1px inset;
}
form.share_content .submit_button:active, form.share_content .submit_button:active:visited {
  color: #222222;
}

.center {
  text-align: center;
}

#news_items .origin {
  color: #333333;
}
#news_items .origin .description {
  color: #999999;
  margin-top: 0.5em;
}
#news_items .answer {
  margin-top: 1em;
}
#news_items .answer.own .votes_average {
  display: block !important;
}
#news_items .answer.own img {
  display: none;
}
#news_items .answer .markdown.entry-content {
  margin: 0;
}
#news_items .answer .body-col {
  margin: 0 10%;
  width: 80%;
}
#news_items .answer .body-col .user_data {
  border-bottom: 1px dotted #aaaaaa;
  display: inline-block;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
}
#news_items .answer .vote-col {
  float: left;
  width: 5%;
  margin-left: 4%;
  text-align: center;
}
#news_items .answer .vote-col button {
  display: block;
}
#news_items .answer .vote-col .vote_box {
  padding: 0;
}
#news_items .answer .vote-col .votes_average {
  margin-right: 0.25em;
  padding: 0.25em;
  background-color: #eeeeee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  display: none;
}
#news_items .answer.large {
  height: 85px;
  position: relative;
  overflow: hidden;
}
#news_items .answer.large .votes_average {
  display: block;
}
#news_items .answer.large button {
  display: none;
}
#news_items .answer.large .more {
  background-color: white;
  bottom: 0;
  position: absolute;
  width: 80%;
  text-align: center;
  cursor: pointer;
  color: #538dc2;
  padding-top: 5px;
  left: 10%;
}
#news_items .answer.large .more .more-link {
  display: block;
  border-top: 2px dashed #eeeeee;
  border-top-width: 90%;
  border-top-margin: 0 auto;
}
#news_items .answer.large.expanded {
  height: auto;
  overflow: visible;
}
#news_items .answer.large.expanded .votes_average {
  display: none;
}
#news_items .answer.large.expanded button {
  display: block;
}
#news_items .answer.large.expanded .more {
  display: none;
}
