@charset "UTF-8";
/* incase an inverted custom gradient isn't specified */
/* line 1, ../../../app/stylesheets/_nav_menu.sass */
ul#nav {
  padding: 10px 20px;
  background-color: #ebebeb;
  border: 1px solid black;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
}
/* line 8, ../../../app/stylesheets/_nav_menu.sass */
ul#nav li {
  padding: 4px;
}

/* line 1, ../../../app/stylesheets/_base.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../../../app/stylesheets/_base.sass */
.clear {
  clear: both;
  height: 0;
}

/* line 11, ../../../app/stylesheets/_base.sass */
h1 {
  margin: 15px 0;
  font-size: 22px;
  font-weight: normal;
}

/* line 17, ../../../app/stylesheets/_base.sass */
h2 {
  font-size: 22px;
  margin: 15px 0;
  font-weight: normal;
}

/* line 23, ../../../app/stylesheets/_base.sass */
h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal;
}

/* line 29, ../../../app/stylesheets/_base.sass */
h4 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal;
}

/* line 35, ../../../app/stylesheets/_base.sass */
hr {
  height: 1px;
  border: 0;
}

/* line 40, ../../../app/stylesheets/_base.sass */
p {
  margin: 15px 0;
}

/* line 44, ../../../app/stylesheets/_base.sass */
a img {
  border: none;
}

/* line 48, ../../../app/stylesheets/_base.sass */
body {
  font-size: 12px;
  font-family: sans-serif;
}

/* line 53, ../../../app/stylesheets/_base.sass */
#container {
  min-width: 960px;
}

/* line 57, ../../../app/stylesheets/_base.sass */
#wrapper {
  padding: 0 20px;
}

/* line 61, ../../../app/stylesheets/_base.sass */
.actions-bar {
  padding: 10px 1px;
}
/* line 64, ../../../app/stylesheets/_base.sass */
.actions-bar .actions {
  float: left;
}
/* line 67, ../../../app/stylesheets/_base.sass */
.actions-bar .pagination {
  float: right;
  padding: 1px 0;
}

/* line 74, ../../../app/stylesheets/_base.sass */
#sidebar h3 {
  padding: 10px 15px;
  margin: 0;
  margin-bottom: 3px;
}
/* line 79, ../../../app/stylesheets/_base.sass */
#sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
  clear: both;
}
/* line 84, ../../../app/stylesheets/_base.sass */
#sidebar .block .content {
  padding: 0 15px;
}
/* line 88, ../../../app/stylesheets/_base.sass */
#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
  display: block;
  padding: 10px 15px;
}
/* line 92, ../../../app/stylesheets/_base.sass */
#sidebar .block .sidebar-block, #sidebar .notice, #sidebar .help {
  padding: 10px;
}
/* line 96, ../../../app/stylesheets/_base.sass */
#sidebar .help h4 {
  margin: 5px 0;
  font-size: 17px;
  font-weight: bold;
}

/* line 102, ../../../app/stylesheets/_base.sass */
#wrapper {
  padding-top: 20px;
}

/* line 107, ../../../app/stylesheets/_base.sass */
#main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}
/* line 111, ../../../app/stylesheets/_base.sass */
#main .block .content .inner {
  padding: 0 15px 15px;
}
/* line 114, ../../../app/stylesheets/_base.sass */
#main .main p.first {
  margin-top: 0;
}

/* line 118, ../../../app/stylesheets/_base.sass */
#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px;
}

/* line 124, ../../../app/stylesheets/_base.sass */
#main-navigation {
  width: 100%;
}

/* line 128, ../../../app/stylesheets/_base.sass */
#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 134, ../../../app/stylesheets/_base.sass */
#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
  float: left;
}

/* line 137, ../../../app/stylesheets/_base.sass */
#main-navigation ul li {
  margin-right: 5px;
}

/* line 141, ../../../app/stylesheets/_base.sass */
#user-navigation ul li {
  padding: 5px 10px;
}

/* line 146, ../../../app/stylesheets/_base.sass */
#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
  text-decoration: none;
}

/* line 151, ../../../app/stylesheets/_base.sass */
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
  text-decoration: none;
}

/* line 154, ../../../app/stylesheets/_base.sass */
h1.navtitle {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 13px;
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

/* line 161, ../../../app/stylesheets/_base.sass */
.secondary-navigation .navtitle {
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

/* line 164, ../../../app/stylesheets/_base.sass */
#main .content .secondary-navigation .navtitle {
  text-transform: capitalize;
  line-height: 14px;
  margin-top: 4px;
}

/* line 170, ../../../app/stylesheets/_base.sass */
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
}

/* line 174, ../../../app/stylesheets/_base.sass */
#main-navigation ul li a {
  font-size: 15px;
  display: block;
  padding: 8px 15px;
}

/* line 180, ../../../app/stylesheets/_base.sass */
.secondary-navigation {
  font-size: 13px;
  padding-top: 2px;
}
/* line 184, ../../../app/stylesheets/_base.sass */
.secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;
}

/* line 189, ../../../app/stylesheets/_base.sass */
.ccontrol {
  padding-top: 5px;
  padding-bottom: 6px;
}

/* line 193, ../../../app/stylesheets/_base.sass */
#footer {
  padding-bottom: 20px;
  padding-top: 1em;
}

/* line 198, ../../../app/stylesheets/_base.sass */
.pagination a {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}
/* line 206, ../../../app/stylesheets/_base.sass */
.pagination span {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}
/* line 214, ../../../app/stylesheets/_base.sass */
.pagination span.current {
  font-weight: bold;
}
/* line 217, ../../../app/stylesheets/_base.sass */
.pagination a {
  text-decoration: none;
}

/* line 221, ../../../app/stylesheets/_base.sass */
.title .counter {
  font-size: 25px;
  color: #666666;
  display: inline;
}

/* line 226, ../../../app/stylesheets/_base.sass */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
/* line 231, ../../../app/stylesheets/_base.sass */
.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}
/* line 236, ../../../app/stylesheets/_base.sass */
.table th.first {
  width: 30px;
}
/* line 239, ../../../app/stylesheets/_base.sass */
.table th.last {
  width: 200px;
}
/* line 242, ../../../app/stylesheets/_base.sass */
.table .checkbox {
  margin-left: 10px;
}
/* line 245, ../../../app/stylesheets/_base.sass */
.table td {
  padding: 10px;
}
/* line 248, ../../../app/stylesheets/_base.sass */
.table td.last {
  text-align: right;
}

/* line 252, ../../../app/stylesheets/_base.sass */
input.checkbox {
  margin: 0;
  padding: 0;
}

/* line 258, ../../../app/stylesheets/_base.sass */
.form .group {
  margin-bottom: 13px;
}
/* line 262, ../../../app/stylesheets/_base.sass */
.form div.left {
  width: 20%;
  float: left;
}
/* line 266, ../../../app/stylesheets/_base.sass */
.form div.right {
  width: 75%;
  float: right;
}
/* line 271, ../../../app/stylesheets/_base.sass */
.form .columns .column {
  width: 48%;
}
/* line 274, ../../../app/stylesheets/_base.sass */
.form .columns .left {
  float: left;
}
/* line 277, ../../../app/stylesheets/_base.sass */
.form .columns .right {
  float: right;
}
/* line 280, ../../../app/stylesheets/_base.sass */
.form textarea.comment_text_area {
  font-size: 13px;
  line-height: 26px;
  margin: -2px 0 -1px 0;
  height: auto;
  width: 100%;
  padding: 0;
}
/* line 288, ../../../app/stylesheets/_base.sass */
.form label.label, .form input.text_field, .form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
/* line 293, ../../../app/stylesheets/_base.sass */
.form label.right {
  text-align: right;
}
/* line 297, ../../../app/stylesheets/_base.sass */
.form input.checkbox, .form input.radio {
  margin-right: 5px;
}
/* line 301, ../../../app/stylesheets/_base.sass */
.form label.checkbox, .form label.radio {
  line-height: 1.5em;
}
/* line 304, ../../../app/stylesheets/_base.sass */
.form label.label {
  display: block;
  padding-bottom: 2px;
  font-weight: bold;
}
/* line 309, ../../../app/stylesheets/_base.sass */
.form div.fieldWithErrors label.label {
  display: inline;
}
/* line 312, ../../../app/stylesheets/_base.sass */
.form .fieldWithErrors .error {
  color: red;
}
/* line 315, ../../../app/stylesheets/_base.sass */
.form input.text_field, .form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}
/* line 319, ../../../app/stylesheets/_base.sass */
.form input.text_field.filter_field, .form textarea.text_area.filter_field {
  width: 30%;
}

/* line 322, ../../../app/stylesheets/_base.sass */
ul.share {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 326, ../../../app/stylesheets/_base.sass */
ul.share li {
  margin: 0 4px 0 0;
}

/* line 329, ../../../app/stylesheets/_base.sass */
ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 334, ../../../app/stylesheets/_base.sass */
ul.list li {
  clear: left;
  padding-bottom: 5px;
}
/* line 338, ../../../app/stylesheets/_base.sass */
ul.list li .left {
  float: left;
}
/* line 341, ../../../app/stylesheets/_base.sass */
ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}
/* line 345, ../../../app/stylesheets/_base.sass */
ul.list li .item {
  margin-left: 80px;
}
/* line 348, ../../../app/stylesheets/_base.sass */
ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}

/* line 355, ../../../app/stylesheets/_base.sass */
#box {
  width: 500px;
  margin: 50px auto;
}
/* line 359, ../../../app/stylesheets/_base.sass */
#box .block {
  margin-bottom: 20px;
}
/* line 362, ../../../app/stylesheets/_base.sass */
#box .block h2 {
  padding: 10px 15px;
  margin: 0;
}
/* line 366, ../../../app/stylesheets/_base.sass */
#box .block .content {
  padding: 10px 20px;
}

/* line 372, ../../../app/stylesheets/_base.sass */
#additional_info, .additional_info {
  margin-top: 10px;
}
/* line 375, ../../../app/stylesheets/_base.sass */
#additional_info .pagination, .additional_info .pagination {
  float: left;
  width: 50%;
  font-size: 12px;
}
/* line 380, ../../../app/stylesheets/_base.sass */
#additional_info #help_us, .additional_info #help_us {
  float: left;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 16px;
}

/* line 385, ../../../app/stylesheets/_base.sass */
.microblogging {
  float: left;
  margin: 5px 5px 5px 0px;
}

/* line 389, ../../../app/stylesheets/_base.sass */
.video_thumbnail {
  width: 130px;
  height: 97px;
  cursor: pointer;
}

/* line 394, ../../../app/stylesheets/_base.sass */
.thumb {
  position: relative;
}

/* line 397, ../../../app/stylesheets/_base.sass */
.play_button {
  opacity: 0.7;
  position: absolute;
  left: 50px;
  top: 35px;
  border: medium none;
  cursor: pointer;
}

/* line 405, ../../../app/stylesheets/_base.sass */
.highlight {
  background: #ffffe3;
}

/* line 408, ../../../app/stylesheets/_base.sass */
ol.manage-domain {
  margin-left: 3em;
  margin-bottom: 2em;
}
/* line 411, ../../../app/stylesheets/_base.sass */
ol.manage-domain li {
  font-size: 18px;
}

/* line 1, ../../../app/stylesheets/_basic.sass */
.clear {
  clear: both;
  height: 0;
}

/* line 5, ../../../app/stylesheets/_basic.sass */
.hide {
  display: none;
}

/* line 8, ../../../app/stylesheets/_basic.sass */
.left {
  float: left;
}

/* line 11, ../../../app/stylesheets/_basic.sass */
.right {
  float: right;
}

/* line 14, ../../../app/stylesheets/_basic.sass */
.italic {
  font-style: italic !important;
  display: inline;
}

/* line 18, ../../../app/stylesheets/_basic.sass */
.bold {
  font-weight: bold !important;
  display: inline;
}

/* line 22, ../../../app/stylesheets/_basic.sass */
a.tag {
  display: inline;
  margin: 2px;
  padding: 2px 4px;
  background-color: #ebebeb;
  color: #445566;
  font-weight: bold;
  font-size: 10px;
}
/* line 30, ../../../app/stylesheets/_basic.sass */
a.tag:hover {
  background-color: #9cc3ea;
}

/* line 33, ../../../app/stylesheets/_basic.sass */
.inline {
  display: inline;
}

/* line 36, ../../../app/stylesheets/_basic.sass */
.bignum {
  font-size: 36pt;
  color: #888888;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 2, ../../../app/stylesheets/_feeds.sass */
.feeds .feed_entry {
  display: block;
  margin-bottom: 4px;
}
/* line 5, ../../../app/stylesheets/_feeds.sass */
.feeds .feed_entry a {
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}
/* line 6, ../../../app/stylesheets/_feeds.sass */
.feeds .feed_entry a span {
  margin-bottom: -4px;
}
/* line 11, ../../../app/stylesheets/_feeds.sass */
.feeds .feed_entry a:hover {
  text-decoration: underline;
}

/* line 1, ../../../app/stylesheets/_external_accounts.sass */
#external_accounts {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 6, ../../../app/stylesheets/_external_accounts.sass */
#external_accounts li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dddddd;
}
/* line 11, ../../../app/stylesheets/_external_accounts.sass */
#external_accounts a.connect, #external_accounts a.disconnect {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  width: 80px;
  text-align: center;
  margin-left: 10px;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#external_accounts a.connect, #external_accounts a.disconnect {
  *display: inline;
}
/* line 75, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#external_accounts a.connect img, #external_accounts a.disconnect img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
/* line 95, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#external_accounts a.connect[type], #external_accounts a.disconnect[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
/* line 98, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
*:first-child + html #external_accounts a.connect[type], *:first-child + html #external_accounts a.disconnect[type] {
  padding: 4px 10px 3px 7px;
}
/* line 62, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#external_accounts a.connect:hover, #external_accounts a.disconnect:hover {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
/* line 47, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#external_accounts a.connect:active, #external_accounts a.disconnect:active {
  background-color: #a80000;
  border-color: #b81010 #a80000 #a80000 #b81010;
  color: white;
}
/* line 17, ../../../app/stylesheets/_buttons.sass */
#external_accounts a.connect.current, #external_accounts a.disconnect.current {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
/* line 17, ../../../app/stylesheets/_external_accounts.sass */
#external_accounts .controls {
  float: right;
}

/* line 3, ../../../app/stylesheets/_markdown.sass */
.markdown {
  color: #222222;
}
/* line 6, ../../../app/stylesheets/_markdown.sass */
.markdown p {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin: 0 0 13px;
  font-size: 13px;
  line-height: 22px;
  font-family: Helvetica, Arial, "Liberation Sans", "DejaVu Sans", sans-serif;
}
/* line 13, ../../../app/stylesheets/_markdown.sass */
.markdown p + p, .markdown ul + p, .markdown ol + p {
  margin-top: 0.8em;
}
/* line 16, ../../../app/stylesheets/_markdown.sass */
.markdown p + ul {
  margin-top: 0.8em;
}
/* line 19, ../../../app/stylesheets/_markdown.sass */
.markdown strong {
  font-weight: bold;
}
/* line 21, ../../../app/stylesheets/_markdown.sass */
.markdown em {
  font-style: italic;
}
/* line 24, ../../../app/stylesheets/_markdown.sass */
.markdown ul {
  list-style: disc;
}
/* line 27, ../../../app/stylesheets/_markdown.sass */
.markdown ol {
  list-style: decimal;
}
/* line 33, ../../../app/stylesheets/_markdown.sass */
.markdown li {
  line-height: 22px;
}
/* line 36, ../../../app/stylesheets/_markdown.sass */
.markdown li + li {
  margin-top: 0.9em;
}
/* line 40, ../../../app/stylesheets/_markdown.sass */
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  color: #222222;
  font-weight: bold;
}
/* line 45, ../../../app/stylesheets/_markdown.sass */
.markdown h1 {
  font-size: 20px;
}
/* line 47, ../../../app/stylesheets/_markdown.sass */
.markdown h2 {
  font-size: 17px;
  line-height: 30px;
}
/* line 50, ../../../app/stylesheets/_markdown.sass */
.markdown h3 {
  font-size: 15px;
}
/* line 52, ../../../app/stylesheets/_markdown.sass */
.markdown h4 {
  font-size: 14px;
}
/* line 54, ../../../app/stylesheets/_markdown.sass */
.markdown h5 {
  font-size: 14px;
}
/* line 57, ../../../app/stylesheets/_markdown.sass */
.markdown code {
  background-color: #f0f0f0;
  max-height: 600px;
  overflow: auto;
  width: auto;
  display: inline;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
/* line 66, ../../../app/stylesheets/_markdown.sass */
.markdown pre code {
  display: block;
}
/* line 70, ../../../app/stylesheets/_markdown.sass */
.markdown blockquote {
  width: 95%;
  margin: 1em;
  display: block;
  background-color: #f0f0f0;
  word-wrap: break-word;
  quotes: none;
  vertical-align: baseline;
}

/* line 1, ../../../app/stylesheets/_markdown_editor.sass */
.markdown_toolbar {
  position: relative;
  list-style: none;
  border: 1px solid #d7d7d7;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  height: 18px;
  margin-bottom: 2px;
}
/* line 11, ../../../app/stylesheets/_markdown_editor.sass */
.markdown_toolbar li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
/* line 17, ../../../app/stylesheets/_markdown_editor.sass */
.markdown_toolbar li a {
  width: 24px;
  height: 16px;
  float: left;
  display: block;
  background-image: url(/images/markdown_icons.gif);
  border: 1px solid white;
  border-right-color: #d7d7d7;
}
/* line 26, ../../../app/stylesheets/_markdown_editor.sass */
.markdown_toolbar li a:hover {
  border-color: #990000;
}
/* line 29, ../../../app/stylesheets/_markdown_editor.sass */
.markdown_toolbar li span {
  display: none;
}
/* line 32, ../../../app/stylesheets/_markdown_editor.sass */
.markdown_toolbar li a#markdown_help_button {
  position: absolute;
  top: 0;
  rightright: 0;
  border-left-color: #d7d7d7;
  border-right-color: white;
}
/* line 39, ../../../app/stylesheets/_markdown_editor.sass */
.markdown_toolbar li a#markdown_help_button:hover {
  border-left-color: #990000;
  border-right-color: #990000;
}

/* line 44, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_italics_button {
  background-position: 0 -119px;
}

/* line 48, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_bold_button {
  background-position: 0 -102px;
}

/* line 52, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_link_button {
  background-position: 0 0;
}

/* line 56, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_image_button {
  background-position: 0 -170px;
}

/* line 60, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_unordered_list_button {
  background-position: 0 -34px;
}

/* line 64, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_ordered_list_button {
  background-position: 0 -51px;
}

/* line 68, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_quote_button {
  background-position: 0 -68px;
}

/* line 72, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_code_button {
  background-position: 0 -136px;
}

/* line 76, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_help_button {
  background-position: 0 -153px;
}

/* line 80, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_heading_button {
  background-position: 0 -85px;
}

/* line 83, ../../../app/stylesheets/_markdown_editor.sass */
#markdown_latex_button {
  background-position: 0 -306px;
}

/* line 86, ../../../app/stylesheets/_markdown_editor.sass */
.resizeHandle {
  overflow: hidden;
  width: 22px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/handle.png);
  cursor: n-resize;
}

/* line 1, ../../../app/stylesheets/_validation.sass */
.errorExplanation {
  margin-bottom: 10px;
  padding: 10px;
}
/* line 6, ../../../app/stylesheets/_validation.sass */
.errorExplanation ul {
  list-style-type: none;
}
/* line 8, ../../../app/stylesheets/_validation.sass */
.errorExplanation ul li {
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #666666;
}

/* line 14, ../../../app/stylesheets/_validation.sass */
.fieldWithErrors {
  padding: 5px;
  background: #ffdddd;
}

/* line 2, ../../../app/stylesheets/_menu.sass */
ul.combobox {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: outside;
  display: inline;
}
/* line 8, ../../../app/stylesheets/_menu.sass */
ul.combobox li {
  float: left;
  margin-right: 0.7em;
}
/* line 11, ../../../app/stylesheets/_menu.sass */
ul.combobox li:hover ul {
  left: auto;
  z-index: 2;
}
/* line 15, ../../../app/stylesheets/_menu.sass */
ul.combobox li ul {
  position: absolute;
  background-color: #ebebeb;
  display: block;
  border: 1px solid #dcdcdc;
  left: -999em;
  list-style: none;
}
/* line 22, ../../../app/stylesheets/_menu.sass */
ul.combobox li ul li {
  width: 100%;
  display: block;
  clear: both;
}
/* line 26, ../../../app/stylesheets/_menu.sass */
ul.combobox li ul li:hover {
  background-color: #e0e0e0;
}
/* line 28, ../../../app/stylesheets/_menu.sass */
ul.combobox li ul li a {
  padding: 4px;
  color: #666666;
  text-decoration: none;
  display: block;
}

/* line 35, ../../../app/stylesheets/_menu.sass */
ul.combobox li:hover ul, ul.combobox li.sfhover ul {
  left: auto;
  max-height: 40em;
  overflow: auto;
}

/* line 6, ../../../app/stylesheets/_modal.sass */
#cboxOverlay {
  background-color: black;
}

/* line 9, ../../../app/stylesheets/_modal.sass */
#cboxContent .modal {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-color: #da242b;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  background-color: white;
  width: 400px;
}
/* line 18, ../../../app/stylesheets/_modal.sass */
#cboxContent .modal h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 23, ../../../app/stylesheets/_modal.sass */
#cboxContent .modal .controls {
  margin-top: 30px;
  float: right;
}
/* line 27, ../../../app/stylesheets/_modal.sass */
#cboxContent .modal .controls a, #cboxContent .modal .controls input[type=submit] {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  margin: 0 0 0 3px;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#cboxContent .modal .controls a, #cboxContent .modal .controls input[type=submit] {
  *display: inline;
}
/* line 75, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#cboxContent .modal .controls a img, #cboxContent .modal .controls input[type=submit] img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
/* line 95, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#cboxContent .modal .controls a[type], #cboxContent .modal .controls input[type=submit][type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
/* line 98, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
*:first-child + html #cboxContent .modal .controls a[type], *:first-child + html #cboxContent .modal .controls input[type=submit][type] {
  padding: 4px 10px 3px 7px;
}
/* line 62, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#cboxContent .modal .controls a:hover, #cboxContent .modal .controls input[type=submit]:hover {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
/* line 47, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#cboxContent .modal .controls a:active, #cboxContent .modal .controls input[type=submit]:active {
  background-color: #a80000;
  border-color: #b81010 #a80000 #a80000 #b81010;
  color: white;
}
/* line 17, ../../../app/stylesheets/_buttons.sass */
#cboxContent .modal .controls a.current, #cboxContent .modal .controls input[type=submit].current {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}

/* line 32, ../../../app/stylesheets/_modal.sass */
#cboxContent .modal.share-question-widget textarea[name=body] {
  width: 100%;
  height: 50px;
  margin: 0;
}
/* line 37, ../../../app/stylesheets/_modal.sass */
#cboxContent .modal.share-question-widget .message {
  margin-bottom: 10px;
}

/* line 1, ../../../app/stylesheets/_announcements.sass */
#announcement {
  background-color: #b2ffa4;
  margin-bottom: 5px;
}
/* line 5, ../../../app/stylesheets/_announcements.sass */
#announcement #announcement_message {
  text-align: center;
  color: #3f3a2f;
  margin: 4px 20px;
  float: left;
  width: 90%;
}
/* line 11, ../../../app/stylesheets/_announcements.sass */
#announcement #announcement_message p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}
/* line 15, ../../../app/stylesheets/_announcements.sass */
#announcement a#hide_announcement {
  float: left;
  width: 5%;
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
}

/* line 1, ../../../app/stylesheets/_tag_cloud.sass */
.tag_cloud {
  font-size: 1.2em;
  line-height: 1.44em;
}
/* line 5, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag_cloud .xxs, .tag_cloud .xs, .tag_cloud .s, .tag_cloud .l, .tag_cloud .xl, .tag_cloud .xxl {
  line-height: 1.44em;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag_cloud .xxs {
  font-size: 0.6em;
}
/* line 9, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag_cloud .xs {
  font-size: 0.8em;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag_cloud .s {
  font-size: 0.9em;
}
/* line 13, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag_cloud .l {
  font-size: 1.6em;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag_cloud .xl {
  font-size: 1.8em;
}
/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.tag_cloud .xxl {
  font-size: 2.4em;
}

/* line 25, ../../../app/stylesheets/application.sass */
#messages li {
  list-style: none;
}

/* line 28, ../../../app/stylesheets/application.sass */
textarea.text_area {
  height: 120px;
}

/* line 31, ../../../app/stylesheets/application.sass */
textarea.comment_text_area {
  height: 60px;
  border-bottom: 1px solid #dddddd;
  border-left: 2px solid #cccccc;
  border-right: 1px solid #dddddd;
  border-top: 2px solid #cccccc;
  width: 99%;
}

/* line 39, ../../../app/stylesheets/application.sass */
#main-doc {
  background-color: white;
  text-align: center;
  padding-top: 1em;
}

/* line 44, ../../../app/stylesheets/application.sass */
a.big_cancel_button {
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/images/button_bg.png?1279768283') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 21.6px;
  padding: 5px 18px;
  border-width: 1px;
  background-color: #d90000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff2626), color-stop(100%, #ba0000));
  background-image: -moz-linear-gradient(top, #ff2626 0%, #ba0000 100%);
  background-image: linear-gradient(top, #ff2626 0%, #ba0000 100%);
  border-color: #8d0000;
  text-shadow: #5a0000 0px 1px 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  padding: 3px 12px;
  border-width: 1px;
  color: white !important;
}
/* line 172, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 175, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button:focus {
  outline: none;
}
/* line 178, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button.disabled, a.big_cancel_button[disabled] {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 183, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button.disabled:hover, a.big_cancel_button.disabled:focus, a.big_cancel_button[disabled]:hover, a.big_cancel_button[disabled]:focus {
  cursor: default;
}
/* line 152, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button:active {
  padding: 4px 17px;
  border-width: 2px;
}
/* line 156, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button.disabled:active, a.big_cancel_button[disabled] {
  padding: 5px 18px;
  border-width: 1px;
}
/* line 98, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button, a.big_cancel_button:visited {
  color: white;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button.disabled:active, a.big_cancel_button.disabled:hover, a.big_cancel_button[disabled]:active, a.big_cancel_button[disabled]:hover {
  background-color: #d90000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff2626), color-stop(100%, #ba0000));
  background-image: -moz-linear-gradient(top, #ff2626 0%, #ba0000 100%);
  background-image: linear-gradient(top, #ff2626 0%, #ba0000 100%);
  border-color: #8d0000;
  text-shadow: #5a0000 0px 1px 1px;
}
/* line 98, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button.disabled:active, a.big_cancel_button.disabled:active:visited, a.big_cancel_button.disabled:hover, a.big_cancel_button.disabled:hover:visited, a.big_cancel_button[disabled]:active, a.big_cancel_button[disabled]:active:visited, a.big_cancel_button[disabled]:hover, a.big_cancel_button[disabled]:hover:visited {
  color: white;
}
/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button:hover, a.big_cancel_button:focus {
  background-color: #ca0000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff1818), color-stop(100%, #ab0000));
  background-image: -moz-linear-gradient(top, #ff1818 0%, #ab0000 100%);
  background-image: linear-gradient(top, #ff1818 0%, #ab0000 100%);
  border-color: #7e0000;
  text-shadow: #4a0000 0px 1px 1px;
}
/* line 98, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button:hover, a.big_cancel_button:hover:visited, a.big_cancel_button:focus, a.big_cancel_button:focus:visited {
  color: white;
}
/* line 33, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button:active {
  background-color: #ba0000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b40000), color-stop(40%, #c40000), color-stop(85%, #c40000), color-stop(100%, #e70000));
  background-image: -moz-linear-gradient(top, #b40000 0%, #c40000 40%, #c40000 85%, #e70000 100%);
  background-image: linear-gradient(top, #b40000 0%, #c40000 40%, #c40000 85%, #e70000 100%);
  border-color: #6e0000;
  text-shadow: #3a0000 0px -1px -1px;
}
/* line 98, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button:active, a.big_cancel_button:active:visited {
  color: white;
}
/* line 152, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button:active {
  padding: 2px 11px;
  border-width: 2px;
}
/* line 156, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_cancel_button.disabled:active, a.big_cancel_button[disabled] {
  padding: 3px 12px;
  border-width: 1px;
}

/* line 52, ../../../app/stylesheets/application.sass */
a.big_confirm_button {
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/images/button_bg.png?1279768283') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 21.6px;
  padding: 5px 18px;
  border-width: 1px;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  border-color: #a4a4a4;
  text-shadow: white 0px 1px 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  padding: 3px 12px;
  border-width: 1px;
  color: #00527e;
}
/* line 172, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 175, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button:focus {
  outline: none;
}
/* line 178, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button.disabled, a.big_confirm_button[disabled] {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 183, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button.disabled:hover, a.big_confirm_button.disabled:focus, a.big_confirm_button[disabled]:hover, a.big_confirm_button[disabled]:focus {
  cursor: default;
}
/* line 152, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button:active {
  padding: 4px 17px;
  border-width: 2px;
}
/* line 156, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button.disabled:active, a.big_confirm_button[disabled] {
  padding: 5px 18px;
  border-width: 1px;
}
/* line 102, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button, a.big_confirm_button:visited {
  color: #222222;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button.disabled:active, a.big_confirm_button.disabled:hover, a.big_confirm_button[disabled]:active, a.big_confirm_button[disabled]:hover {
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  border-color: #a4a4a4;
  text-shadow: white 0px 1px 1px;
}
/* line 102, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button.disabled:active, a.big_confirm_button.disabled:active:visited, a.big_confirm_button.disabled:hover, a.big_confirm_button.disabled:hover:visited, a.big_confirm_button[disabled]:active, a.big_confirm_button[disabled]:active:visited, a.big_confirm_button[disabled]:hover, a.big_confirm_button[disabled]:hover:visited {
  color: #222222;
}
/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button:hover, a.big_confirm_button:focus {
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #b3b3b3));
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, #b3b3b3 100%);
  background-image: linear-gradient(top, #e8e8e8 0%, #b3b3b3 100%);
  border-color: #9c9c9c;
  text-shadow: white 0px 1px 1px;
}
/* line 102, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button:hover, a.big_confirm_button:hover:visited, a.big_confirm_button:focus, a.big_confirm_button:focus:visited {
  color: #222222;
}
/* line 33, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button:active {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b9b9b9), color-stop(40%, #c0c0c0), color-stop(85%, #c0c0c0), color-stop(100%, #d2d2d2));
  background-image: -moz-linear-gradient(top, #b9b9b9 0%, #c0c0c0 40%, #c0c0c0 85%, #d2d2d2 100%);
  background-image: linear-gradient(top, #b9b9b9 0%, #c0c0c0 40%, #c0c0c0 85%, #d2d2d2 100%);
  border-color: #959595;
  text-shadow: white 0px -1px -1px;
}
/* line 102, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button:active, a.big_confirm_button:active:visited {
  color: #222222;
}
/* line 152, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button:active {
  padding: 2px 11px;
  border-width: 2px;
}
/* line 156, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.big_confirm_button.disabled:active, a.big_confirm_button[disabled] {
  padding: 3px 12px;
  border-width: 1px;
}

/* line 61, ../../../app/stylesheets/application.sass */
a.missing_page:link, a.missing_page:visited, a.missing_page:hover, a.missing_page:active {
  color: red;
}

/* line 64, ../../../app/stylesheets/application.sass */
#retag {
  margin-left: 1em;
  font-size: 12px;
  position: relative;
  color: #666666;
}

/* line 70, ../../../app/stylesheets/application.sass */
a.important {
  color: #ce0000 !important;
  font-weight: bold;
}

/* line 74, ../../../app/stylesheets/application.sass */
.comment-form {
  width: 91%;
  margin-left: 51px;
}

/* line 78, ../../../app/stylesheets/application.sass */
#default_footer {
  margin: 10px 0;
  font-size: 9px;
}

/* line 83, ../../../app/stylesheets/application.sass */
.widget#users {
  white-space: nowrap;
}

/* line 86, ../../../app/stylesheets/application.sass */
.add_answer_comment_link {
  color: #666666;
  padding-left: 5px;
}

/* line 91, ../../../app/stylesheets/application.sass */
form.share_content label.label {
  display: inline;
  width: auto;
}
/* line 94, ../../../app/stylesheets/application.sass */
form.share_content .submit_button {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/images/button_bg.png?1279768283') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 21.6px;
  padding: 5px 18px;
  border-width: 1px;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  border-color: #a4a4a4;
  text-shadow: white 0px 1px 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  padding: 3px 12px;
  border-width: 1px;
}
/* line 172, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 175, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button:focus {
  outline: none;
}
/* line 178, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button.disabled, form.share_content .submit_button[disabled] {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 183, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button.disabled:hover, form.share_content .submit_button.disabled:focus, form.share_content .submit_button[disabled]:hover, form.share_content .submit_button[disabled]:focus {
  cursor: default;
}
/* line 152, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button:active {
  padding: 4px 17px;
  border-width: 2px;
}
/* line 156, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button.disabled:active, form.share_content .submit_button[disabled] {
  padding: 5px 18px;
  border-width: 1px;
}
/* line 102, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button, form.share_content .submit_button:visited {
  color: #222222;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button.disabled:active, form.share_content .submit_button.disabled:hover, form.share_content .submit_button[disabled]:active, form.share_content .submit_button[disabled]:hover {
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%);
  border-color: #a4a4a4;
  text-shadow: white 0px 1px 1px;
}
/* line 102, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button.disabled:active, form.share_content .submit_button.disabled:active:visited, form.share_content .submit_button.disabled:hover, form.share_content .submit_button.disabled:hover:visited, form.share_content .submit_button[disabled]:active, form.share_content .submit_button[disabled]:active:visited, form.share_content .submit_button[disabled]:hover, form.share_content .submit_button[disabled]:hover:visited {
  color: #222222;
}
/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button:hover, form.share_content .submit_button:focus {
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #b3b3b3));
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, #b3b3b3 100%);
  background-image: linear-gradient(top, #e8e8e8 0%, #b3b3b3 100%);
  border-color: #9c9c9c;
  text-shadow: white 0px 1px 1px;
}
/* line 102, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button:hover, form.share_content .submit_button:hover:visited, form.share_content .submit_button:focus, form.share_content .submit_button:focus:visited {
  color: #222222;
}
/* line 33, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button:active {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b9b9b9), color-stop(40%, #c0c0c0), color-stop(85%, #c0c0c0), color-stop(100%, #d2d2d2));
  background-image: -moz-linear-gradient(top, #b9b9b9 0%, #c0c0c0 40%, #c0c0c0 85%, #d2d2d2 100%);
  background-image: linear-gradient(top, #b9b9b9 0%, #c0c0c0 40%, #c0c0c0 85%, #d2d2d2 100%);
  border-color: #959595;
  text-shadow: white 0px -1px -1px;
}
/* line 102, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button:active, form.share_content .submit_button:active:visited {
  color: #222222;
}
/* line 152, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button:active {
  padding: 2px 11px;
  border-width: 2px;
}
/* line 156, ../../../../../.rvm/gems/ruby-1.8.7-p299@umamao/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
form.share_content .submit_button.disabled:active, form.share_content .submit_button[disabled] {
  padding: 3px 12px;
  border-width: 1px;
}

/* line 99, ../../../app/stylesheets/application.sass */
.center {
  text-align: center;
}

/* line 103, ../../../app/stylesheets/application.sass */
#news_items .origin {
  color: #333333;
}
/* line 106, ../../../app/stylesheets/application.sass */
#news_items .origin .description {
  color: #999999;
  margin-top: 0.5em;
}
/* line 110, ../../../app/stylesheets/application.sass */
#news_items .answer {
  margin-top: 1em;
}
/* line 114, ../../../app/stylesheets/application.sass */
#news_items .answer.own .votes_average {
  display: block !important;
}
/* line 116, ../../../app/stylesheets/application.sass */
#news_items .answer.own img {
  display: none;
}
/* line 119, ../../../app/stylesheets/application.sass */
#news_items .answer .markdown.entry-content {
  margin: 0;
}
/* line 122, ../../../app/stylesheets/application.sass */
#news_items .answer .body-col {
  margin: 0 10%;
  width: 80%;
}
/* line 126, ../../../app/stylesheets/application.sass */
#news_items .answer .body-col .user_data {
  border-bottom: 1px dotted #aaaaaa;
  display: inline-block;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
}
/* line 132, ../../../app/stylesheets/application.sass */
#news_items .answer .vote-col {
  float: left;
  width: 5%;
  margin-left: 4%;
  text-align: center;
}
/* line 138, ../../../app/stylesheets/application.sass */
#news_items .answer .vote-col button {
  display: block;
}
/* line 141, ../../../app/stylesheets/application.sass */
#news_items .answer .vote-col .vote_box {
  padding: 0;
}
/* line 144, ../../../app/stylesheets/application.sass */
#news_items .answer .vote-col .votes_average {
  margin-right: 0.25em;
  padding: 0.25em;
  background-color: #eeeeee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  display: none;
}
/* line 152, ../../../app/stylesheets/application.sass */
#news_items .answer.large {
  height: 85px;
  position: relative;
  overflow: hidden;
}
/* line 157, ../../../app/stylesheets/application.sass */
#news_items .answer.large .votes_average {
  display: block;
}
/* line 160, ../../../app/stylesheets/application.sass */
#news_items .answer.large button {
  display: none;
}
/* line 163, ../../../app/stylesheets/application.sass */
#news_items .answer.large .more {
  background-color: white;
  bottom: 0;
  position: absolute;
  width: 80%;
  text-align: center;
  cursor: pointer;
  color: #538dc2;
  padding-top: 5px;
  left: 10%;
}
/* line 174, ../../../app/stylesheets/application.sass */
#news_items .answer.large .more .more-link {
  display: block;
  border-top: 2px dashed #eeeeee;
  border-top-width: 90%;
  border-top-margin: 0 auto;
}
/* line 180, ../../../app/stylesheets/application.sass */
#news_items .answer.large.expanded {
  height: auto;
  overflow: visible;
}
/* line 184, ../../../app/stylesheets/application.sass */
#news_items .answer.large.expanded .votes_average {
  display: none;
}
/* line 187, ../../../app/stylesheets/application.sass */
#news_items .answer.large.expanded button {
  display: block;
}
/* line 190, ../../../app/stylesheets/application.sass */
#news_items .answer.large.expanded .more {
  display: none;
}
