@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100.01%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
body.bp p {
  margin: 0 0 1.5em;
}
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body.bp a {
  text-decoration: underline;
  color: #000099;
}
body.bp a:visited {
  color: #000066;
}
body.bp a:focus {
  color: black;
}
body.bp a:hover {
  color: black;
}
body.bp a:active {
  color: #cc0099;
}
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body.bp strong {
  font-weight: bold;
}
body.bp em {
  font-style: italic;
}
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
body.bp sup, body.bp sub {
  line-height: 0;
}
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body.bp del {
  color: #666666;
}
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body.bp li ul, body.bp li ol {
  margin: 0;
}
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
body.bp ul {
  list-style-type: disc;
}
body.bp ol {
  list-style-type: decimal;
}
body.bp dl {
  margin: 0 0 1.5em 0;
}
body.bp dl dt {
  font-weight: bold;
}
body.bp dd {
  margin-left: 1.5em;
}
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
body.bp th {
  font-weight: bold;
}
body.bp thead th {
  background: #c3d9ff;
}
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
body.bp tr.even td {
  background: #e5ecf9;
}
body.bp tfoot {
  font-style: italic;
}
body.bp caption {
  background: #eeeeee;
}
body.bp .quiet {
  color: #666666;
}
body.bp .loud {
  color: #111111;
}
body.bp .clear {
  clear: both;
}
body.bp .nowrap {
  white-space: nowrap;
}
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body.bp .showgrid {
  background: url('/images/grid.png?1296569083');
}
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body.bp .error a {
  color: #8a1f11;
}
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
body.bp .notice a {
  color: #514721;
}
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body.bp .success a {
  color: #264409;
}
body.bp .hide {
  display: none;
}
body.bp .highlight {
  background: yellow;
}
body.bp .added {
  background: #006600;
  color: white;
}
body.bp .removed {
  background: #990000;
  color: white;
}

body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
body.bp form.inline {
  line-height: 3;
}
body.bp form.inline p {
  margin-bottom: 0;
}

form.bp label {
  font-weight: bold;
}
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
form.bp input.title {
  font-size: 1.5em;
}
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
form.bp select {
  margin: 0.5em 0;
}
form.bp fieldset {
  border: 1px solid #cccccc;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
form.bp textarea {
  width: 390px;
  height: 250px;
}

body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
* html body.two-col #sidebar {
  overflow-x: hidden;
}
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
* html body.two-col #content {
  overflow-x: hidden;
}

#external_accounts {
  list-style: none;
  padding: 0;
  margin: 0;
}
#external_accounts li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dddddd;
}
#external_accounts a.connect, #external_accounts a.disconnect {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  width: 80px;
  text-align: center;
  margin-left: 10px;
}
#external_accounts a.connect, #external_accounts a.disconnect {
  *display: inline;
}
#external_accounts a.connect img, #external_accounts a.disconnect img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
#external_accounts a.connect[type], #external_accounts a.disconnect[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html #external_accounts a.connect[type], *:first-child + html #external_accounts a.disconnect[type] {
  padding: 4px 10px 3px 7px;
}
#external_accounts a.connect:hover, #external_accounts a.disconnect:hover {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
#external_accounts a.connect:active, #external_accounts a.disconnect:active {
  background-color: #a80000;
  border-color: #b81010 #a80000 #a80000 #b81010;
  color: white;
}
#external_accounts a.connect.current, #external_accounts a.disconnect.current {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
#external_accounts .controls {
  float: right;
}
#external_accounts .dac_input {
  display: inline;
  width: 70px;
}
#external_accounts .dac_form {
  display: none;
}
#external_accounts a.dac_connect, #external_accounts input[type='submit'].dac_connect {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  width: 60px;
  text-align: center;
  background-color: whiteSmoke;
  border-color: #eeeeee;
  color: #565656;
}
#external_accounts a.dac_connect, #external_accounts input[type='submit'].dac_connect {
  *display: inline;
}
#external_accounts a.dac_connect img, #external_accounts input[type='submit'].dac_connect img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
#external_accounts a.dac_connect[type], #external_accounts input[type='submit'].dac_connect[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html #external_accounts a.dac_connect[type], *:first-child + html #external_accounts input[type='submit'].dac_connect[type] {
  padding: 4px 10px 3px 7px;
}
#external_accounts a.dac_connect:hover, #external_accounts input[type='submit'].dac_connect:hover {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
#external_accounts a.dac_connect:active, #external_accounts input[type='submit'].dac_connect:active {
  background-color: #a80000;
  border-color: #b81010 #a80000 #a80000 #b81010;
  color: white;
}
#external_accounts a.dac_connect.current, #external_accounts input[type='submit'].dac_connect.current {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}

* {
  margin: 0;
}

html, body, #container {
  height: 100%;
}

#footer, .push {
  height: 130px;
  padding: 15px 10px 0 10px;
  margin-top: 20px;
  clear: both;
}

#footer {
  text-align: center;
  background: white;
  color: #444444;
  border-top: 1px solid #cccccc;
}
#footer p {
  margin-bottom: 5px;
  clear: both;
}
#footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 10px;
}
#footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
#footer ul li:first-child, #footer ul li.first {
  padding-left: 0;
}
#footer ul li:last-child, #footer ul li.last {
  padding-right: 0;
}
#footer ul li {
  float: none;
}

body.bp a, body.bp a:visited, body.bp a:hover {
  color: #0077cc;
  text-decoration: none;
}

#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -166px;
}

#header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  padding: 20px 0;
}
* html #header {
  overflow-x: hidden;
}

#login_form {
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
  line-height: 3;
  float: right;
  font-size: 11px;
}
* html #login_form {
  overflow-x: hidden;
}
#login_form p {
  margin-bottom: 0;
}
#login_form input.text, #login_form input.title, #login_form input[type=email], #login_form input[type=text], #login_form input[type=password] {
  width: 142px;
}
#login_form textarea {
  width: 390px;
  height: 250px;
}
#login_form .label {
  line-height: 1;
}
#login_form #email_label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
* html #login_form #email_label {
  overflow-x: hidden;
}
#login_form #password_label {
  padding-right: 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
}
* html #login_form #password_label {
  overflow-x: hidden;
}
#login_form #email_field {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
* html #login_form #email_field {
  overflow-x: hidden;
}
#login_form #password_field {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
* html #login_form #password_field {
  overflow-x: hidden;
}
#login_form #submit_button {
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
}
* html #login_form #submit_button {
  overflow-x: hidden;
}
#login_form #remember_me {
  padding-right: 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  line-height: 1;
}
* html #login_form #remember_me {
  overflow-x: hidden;
}
#login_form input[type=submit] {
  width: 70px;
  margin-top: 6px;
  margin-bottom: 7px;
  padding: 5px 10px 5px 7px;
}

hr#colruler {
  background: #eeeeee;
  color: #eeeeee;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

#help-box {
  background-color: #eef5e9;
  border: 1pt dashed #da242b;
  font-size: 1em;
  display: none;
  padding: 10px;
  position: absolute;
  width: 250px;
}
#help-box p {
  margin: 0;
}

#title_landingpage {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 0.8em;
}

#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 1.2em;
}
* html #content {
  overflow-x: hidden;
}
#content a {
  color: #0077cc;
}

.quote {
  background: url("/images/quote.gif") no-repeat scroll 0 0 transparent;
  padding-left: 45px;
  margin-top: 40px;
  font-size: 1.2em;
  font-style: italic;
  text-shadow: #bbbbbb 1px 1px 1px;
}

.quote_author {
  font-size: 0.8em;
  margin-top: -15px;
  padding-left: 125px;
}

#content_msg {
  float: left;
  font-size: 1.2em;
  margin-left: 30px;
  margin-top: 20px;
  text-align: center;
  width: 350px;
}

#signup {
  display: inline;
  float: left;
  margin-right: 0;
  width: 350px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}
* html #signup {
  overflow-x: hidden;
}
#signup form input.text, #signup form input.title, #signup form input[type=email], #signup form input[type=text], #signup form input[type=password] {
  width: 258px;
}
#signup form textarea {
  width: 390px;
  height: 250px;
}
#signup .label {
  text-align: left;
  line-height: 1;
  height: 39px;
}
#signup .label label {
  height: 39px;
}
#signup .label label[for=user_email] {
  vertical-align: -100%;
}
#signup .label label[for=user_password] {
  vertical-align: -100%;
}
#signup .label label[for=user_password_confirmation] {
  vertical-align: -100%;
}
#signup .label label[for=user_name] {
  padding: 6px 0px 0px;
}
#signup .label img {
  margin-bottom: -2px;
  margin-right: 2px;
}
#signup .field {
  margin-left: 60px;
}
#signup #mamao_signup {
  margin-left: 58px;
  margin-top: 20px;
  float: left;
}
#signup .submit {
  float: right;
  margin-top: 20px;
  margin-right: 14px;
}

input[type=submit] {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  background-color: white;
}
input[type=submit] {
  *display: inline;
}
input[type=submit] img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
input[type=submit][type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html input[type=submit][type] {
  padding: 4px 10px 3px 7px;
}
input[type=submit]:hover {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
input[type=submit]:active {
  background-color: #a80000;
  border-color: #b81010 #a80000 #a80000 #b81010;
  color: white;
}
input[type=submit].current {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}

form#waiting_list {
  display: inline;
  float: left;
  margin-right: 0;
  width: 550px;
  line-height: 3;
  font-size: 11px;
}
* html form#waiting_list {
  overflow-x: hidden;
}
form#waiting_list p {
  margin-bottom: 0;
}
form#waiting_list input.text, form#waiting_list input.title, form#waiting_list input[type=email], form#waiting_list input[type=text], form#waiting_list input[type=password] {
  width: 180px;
}
form#waiting_list textarea {
  width: 390px;
  height: 250px;
}
form#waiting_list .label {
  line-height: 1;
}
form#waiting_list #email_label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
* html form#waiting_list #email_label {
  overflow-x: hidden;
}
form#waiting_list #university_label {
  padding-right: 200px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
* html form#waiting_list #university_label {
  overflow-x: hidden;
}
form#waiting_list #email_field {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
* html form#waiting_list #email_field {
  overflow-x: hidden;
}
form#waiting_list #university_field {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
* html form#waiting_list #university_field {
  overflow-x: hidden;
}
form#waiting_list #submit_button {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
* html form#waiting_list #submit_button {
  overflow-x: hidden;
}

form label {
  font-weight: bold;
}
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
form input.title {
  font-size: 1.5em;
}
form input[type=checkbox], form input.checkbox, form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em;
}
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
form select {
  margin: 0.5em 0;
}
form fieldset {
  border: 1px solid #cccccc;
}
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea, form select {
  border: 1px solid #bbbbbb;
}
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus, form select:focus {
  border: 1px solid #666666;
}
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
form textarea {
  width: 390px;
  height: 250px;
}
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 379px;
}
form textarea {
  width: 390px;
  height: 250px;
}
form textarea {
  width: 379px;
}

body.bp a:hover {
  text-decoration: underline;
}

ul#team {
  list-style-type: none;
  padding: 0;
}
ul#team li {
  clear: both;
}
ul#team .bio, ul#team .avatar {
  float: left;
}
ul#team .bio {
  width: 70%;
}
ul#team .avatar {
  margin-right: 20px;
}

#main {
  padding-left: 240px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
  padding-right: 320px;
}
* html #main {
  overflow-x: hidden;
}

.inviter_avatar {
  margin-right: 10px;
  float: left;
}

#invitation_introduction {
  margin-bottom: 5px;
}

#invitation_message {
  width: 391px;
  text-align: justify;
  margin-bottom: 1.5em;
}
#invitation_message p {
  margin: 0;
}

.inviter_name {
  font-weight: bold;
}

#new_user .submit {
  margin-top: 10px;
}
#new_user .field.agree .field_with_errors {
  display: inline;
}

#signup-wizard {
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}
#signup-wizard #introduction {
  font-size: 13px;
  border-width: 1px;
  border-color: #222222;
  border-style: dashed;
  padding: 10px;
  background-color: #ddffaa;
}
#signup-wizard #interaction {
  width: 550px;
}
#signup-wizard #interaction .suggestions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#signup-wizard #interaction .suggestions ul .controls {
  float: right;
}
#signup-wizard #interaction .suggestions ul .follow-info a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  padding: 1px 8px;
  border: 1px solid #758c1a;
  text-align: center;
  text-decoration: none !important;
}
#signup-wizard #interaction .suggestions ul .follow-info a.follow_link {
  background-color: #d6e989;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d6e989), color-stop(50%, #bfdd48), color-stop(100%, #cee573));
  background-image: -moz-linear-gradient(top, #d6e989 0%, #bfdd48 50%, #cee573 100%);
  background-image: linear-gradient(top, #d6e989 0%, #bfdd48 50%, #cee573 100%);
}
#signup-wizard #interaction .suggestions ul .follow-info a.follow_link:hover {
  background-color: #bfdd48;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e5f1b4), color-stop(50%, #cee573), color-stop(100%, #dded9e));
  background-image: -moz-linear-gradient(top, #e5f1b4 0%, #cee573 50%, #dded9e 100%);
  background-image: linear-gradient(top, #e5f1b4 0%, #cee573 50%, #dded9e 100%);
}
#signup-wizard #interaction .suggestions ul .follow-info a.unfollow_link {
  background-color: #eeeeee;
}
#signup-wizard #interaction .suggestions ul .follow-info a.unfollow_link:hover {
  background-color: #bbbbbb;
}
#signup-wizard #interaction .suggestions ul .follow-info {
  float: left;
}
#signup-wizard #interaction .suggestions ul .refuse-suggestion {
  float: right;
  margin-left: 3px;
}
#signup-wizard #interaction .suggestions ul .refuse-suggestion a {
  color: #0077cc;
  text-decoration: none;
}
#signup-wizard #interaction .suggestions .topic {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 4px;
  background: #f7f7f7;
  overflow: hidden;
  margin: 0 5px 5px 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  height: 13px;
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}
#signup-wizard #interaction .suggestions .topic .topic-title {
  white-space: nowrap;
}
#signup-wizard #interaction .suggestions .topic .remove {
  cursor: pointer;
}
#signup-wizard #interaction .suggestions .topic, #signup-wizard #interaction .suggestions .topic a {
  color: #444444;
  font-weight: normal;
}
#signup-wizard #interaction .suggestions .topic:hover, #signup-wizard #interaction .suggestions .topic a:hover {
  background: #eeeeee;
}
#signup-wizard #interaction .suggestions .topic a:link, #signup-wizard #interaction .suggestions .topic a:active, #signup-wizard #interaction .suggestions .topic a:visited, #signup-wizard #interaction .suggestions .topic a a:link, #signup-wizard #interaction .suggestions .topic a a:active, #signup-wizard #interaction .suggestions .topic a a:visited {
  cursor: pointer;
  text-align: center;
}
#signup-wizard #interaction .suggestions .topic a:hover, #signup-wizard #interaction .suggestions .topic a a:hover {
  text-decoration: none;
}
#signup-wizard #interaction .suggestions .info {
  margin: 0;
  float: left;
}
#signup-wizard #interaction .suggestions .info img {
  vertical-align: middle;
}
#signup-wizard #interaction .suggestions li + li {
  margin-top: 5px;
}
#signup-wizard #interaction .suggestions {
  width: 300px;
  margin: 0 auto 20px auto;
}
#signup-wizard #interaction #wait-notice {
  margin: 0 auto 20px auto;
  text-align: center;
}
#signup-wizard #interaction #wait-notice #loader {
  margin-bottom: 10px;
}
#signup-wizard #navigation {
  float: right;
  margin-bottom: 5px;
}
#signup-wizard #navigation a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
}
#signup-wizard #navigation a {
  *display: inline;
}
#signup-wizard #navigation a img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
#signup-wizard #navigation a[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html #signup-wizard #navigation a[type] {
  padding: 4px 10px 3px 7px;
}
#signup-wizard #navigation a:hover {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
#signup-wizard #navigation a:active {
  background-color: #a80000;
  border-color: #b81010 #a80000 #a80000 #b81010;
  color: white;
}
#signup-wizard #navigation a.current {
  background-color: #f84249;
  border-color: #ff5259 #f84249 #f84249 #ff5259;
  color: white;
}
#signup-wizard a.skip {
  clear: both;
  float: right;
}

#errorExplanation {
  padding: 10px;
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fbc2c4;
  background-color: #ffe3e4;
}
#errorExplanation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#errorExplanation ul li + li {
  margin-top: 10px;
}
