/QuestionLists
%ul.items#question_lists
  - if @question_lists.empty?
    %li.highlight
      = t(".empty")
  - @question_lists.each do |question_list|
    = render :partial => "question_list", :object => question_list

#additional_info
  = will_paginate @question_lists
  .clear
