%p= t('.greeting')

= simple_format(t('.message', :email => @email, :contact => "contato@umamao.com", :university => @university.name))

= simple_format(t('.goodbye'))

= simple_format(t('notifier.global.signature'))
