- origin_link = link_to h(@origin.first_name), url_for(:host => @domain, :controller => "users", :action => "show", :id => @origin.id)

- entry_link = link_to h(@entry.title), url_for(:host => @domain, :controller => 'topics', :action => "show", :id => @entry.id)

%p= t('notifier.global.hi', :user => h(@user.first_name))

%p= t('.message', :origin => origin_link, :entry => entry_link)

= simple_format(t('notifier.global.signature'))
