-# Little box used for adding topics to questions.

%li
  .topic
    = h(topic.title)
    - if question && !question.new?
      %a.remove{:href => question_url(question) + "/unclassify?topic=" + h(topic.title)}
        ✕
    - else
      %input{:type => "hidden", :name => "question[topics][]", :value => topic.title}
      %span.remove
        ✕
    .clear
