-# Little box used for adding topics to questions.

%li
  .topic
    %span.topic-title
      = link_to h(topic.title), topic_url(topic)
    - if logged_in?
      - if question && !question.new?
        %a.remove{:href => question_url(question) + "/unclassify?topic=" + h(topic.title)}
          ✕
      - else
        %input{:type => "hidden", :name => "question[topics][]", :value => topic.title}
        %span.remove
          ✕
