%li.item
  .summary
    .title
      = link_to h(topic.title), topic_path(topic)
    .info
      .metadata
        = render :partial => "topics/follow", :locals => {:topic => topic}

        - count = topic.questions_count
        = format_number(count)
        = t(:question_count, :scope => "activerecord.models", :count => count)
    .clear

