#topic
  = render :partial => "common", :locals => {:topic => @topic, :students => @students_course}

  %ul.items#questions
    - if @questions.blank?
      %li.highlight
        = t(".empty")
    - @questions.each do |question|
      = render :partial => "questions/question", :object => question

  #additional_info
    = will_paginate @questions

    .clear
