/* AutoSuggest CSS - Version 1.2  */
/* Used in all-purpose search box */

form#search-form {
    width: 360px;
    margin-right: 20px;
}

input#search-field {
    width: 100%;
}

ul.autocomplete-list {
    border: 1px solid #444444;
    padding: 0;
    position: absolute;
    list-style-type: none;
    font-size: 14px;
    color: #333;
    font-family: arial, sans-serif;
    font-weight: normal;
    background-color: #fff;
    z-index: 2;
    width: 38%;
    display: none;
}

ul.autocomplete-list li {
    margin: 0;
    padding: 7px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.autocomplete-list span.desc {
    font-size: x-small;
    color: #777;
}

ul.autocomplete-list li.active {
    background-color: #ebebeb;
    color: #0077cc;
}

ul.autocomplete-list li.search {
    color: #0077cc;
}

ul.autocomplete-list em {
    text-decoration: underline;
    font-weight: bold;
    padding: 0;
}
