/* AutoSuggest CSS - Version 1.2 */

form#search-form {
    width: 360px;
    margin-right: 20px;
}

input#search-field {
    width: 100%;
}

ul.as-list {
    border: 1px solid #444444;
    padding: 0;
    position: absolute;
    list-style-type: none;
    font-size: 14px;
    color: #000;
    font-family: arial, sans-serif;
    font-weight: normal;
    background-color: #fff;
    z-index: 2;
    width: 38%;
}

li.as-result-item, li.as-message {
    margin: 0;
    padding: 7px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li.as-result-item .as-desc {
    font-size: x-small;
    color: #777;
}

li.as-message {
    margin: 0;
    cursor: default;
}

li.as-result-item.active {
    background-color: #ebebeb;
    color: #0077cc;
}

li.as-search {
    color: #0077cc;
}

li.as-result-item em {
    text-decoration: underline;
    font-weight: bold;
    padding: 0 2px;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ul.as-selections {
        border-top-width: 2px;
    }
    ul.as-selections li.as-selection-item {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    ul.as-selections li.as-selection-item a.as-close {
        margin-top: -1px;
    }
    ul.as-selections li.as-original input {
        height: 19px;
    }
}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    ul.as-list {
        border: 1px solid #888;
    }
    ul.as-selections li.as-selection-item a.as-close {
        margin-left: 4px;
        margin-top: 0;
    }
}

/* IE Hacks  */
ul.as-list {
    border: 1px solid #888\9;
}
ul.as-selections li.as-selection-item a.as-close {
    margin-left: 4px\9;
    margin-top: 0\9;
}
