.secondary-navigation
  .navtitle= t("notifications.title")
#notifications
  - @notifications.each do |notification|
    = render :partial => "notifications/notification", :locals => {:notification => notification}
