:markdown
  ## Aviso importante

  Até agora, não havíamos definido os termos de uso e a
  política de privacidade do Umamão. A partir de agora, você deve concordar
  com eles para continuar usando-o com seu cadastro.