- if [ "facebook", "twitter" ].include? @open_sharing_widget
  #hidden-widget{:style => "display: none"}
    - html = { :question => @question, :where => @open_sharing_widget }
    -# TODO: Merge the next 3 lines with those on app/controllers/share_question_controller.rb elsewhere
    - if @open_sharing_widget == "twitter"
      - bitly = Bitly.new(AppConfig.bitly[:username], AppConfig.bitly[:apikey])
      - html[:link] = bitly.shorten(question_url(@question)).short_url
    = render_cell :share_question, :display, html
  :javascript
    $(document).ready(function () {
      Utils.modal({html: $("#hidden-widget").html()});
    });
