.share-content-widget
  .secondary-navigation
    ul.tabs
      margin-bottom: 20px
      li
        height:  17px
        padding: 3px 0px
        a.tab-share-popup
          font-size: 7pt
          img
            width: 10px
            height: 10px

  #share_on_embed
    .explanation
      margin-bottom: 17px
    .method
      display: block
      margin-bottom: 17px
      input
        display: block
        width: 100%
        margin-top: 7px

.content-share
  display: none

.content-share.current
  display: block
