// Style for suggestion widgets (users, topics, etc)

@import compass/css3/box

=suggestions
  // .related is for use in related-topics
  .suggestions, .related
    ul
      list-style: none
      padding: 0
      margin: 0
      .controls
        float: right
      +follow-button
      .follow-info
        float: left
      .refuse-suggestion
        float: right
        margin-left: 3px
        a
          color: $link-color
          text-decoration: none
          &:hover, &:active
      li
        +clearfix
    +topic-container
    .info
      margin: 0
      float: left
      img
        vertical-align: middle

    .suggestion-left
      float: left
      width: 40%
      margin-left: 20px

    .suggestion-right
      float: right
      width: 40%
      margin-right: 20px

    li + li
      margin-top: 5px
