%label.label
  = t(".answer_label")

%div
  = f.text_area :body, {:class => "text_area", :rows => "auto", :cols => "auto", :id => "answer"}
%label.label
  = t("global.preview")

%script{:type => "text/javascript", :charset => "utf-8"}
  $().ready(function() { $("#answer").wmd(); });

/ 
  %script{:type => "text/javascript", :charset => "utf-8"}
    setupWmd("answer");

