- content_for :js do
  = include_javascripts :content_show

- content_for :subtabs do
  %table
    %tr
      %td
        %h1.navtitle.title.entry-title
          &= @question.title

#question-body.markdown
  = markdown(@question.body)

%hr

#answers
  = render :partial=> "questions/answer", :locals=> {:question => @question, :answer => @answer, :comment => Answer.new}
