// Used to style the editor in questions, answers, etc.

#image-prompt.modal
  display: none

#colorbox
  #image-prompt.modal
    display: block

form.editor
  textarea, #content-images, .markdown
    margin-bottom: 13px
  #content-images.empty
    display: none
