#question-list form, #new_question_list
  .title, .body, .preview
    padding-top: 12px
    .editor-input
      height: 80px
    .example
      padding-bottom: 10px
      color: #aaa

#question-list
  .description
    font-family: Arial
    margin-bottom: 7px
  .controls
    a
      color: $controls-color
    padding-bottom: 15px
  .entry
    padding-bottom: 15px
  #questions
    .empty
      border-bottom: $dotted-border
      padding: 10px
  #add_content
    padding-top: 12px
  .make_question
    padding: 1px
  .pagination
    padding-top: 12px
  .answers_count
    a
      color: $link-color
      font-weight: normal
    width: 100%
    text-align: right
  .files
    border-top: $dotted-border
    padding: 10px
    h2
      font-size: 15px
      margin-bottom: 5px
    ul
      padding-left: 10px
      list-style: none
      li a.remove
        margin-left: 5px
    ul + .add-file
      margin-top: 8px


#sidebar
  .new_question_list
    font-size: 1.1em
    font-weight: bold

#new_question_list
  .controls
    margin-bottom: 10px
    text-align: center

#new_question_form, #add_file_form
  display: none

#add_file_form
  padding-top: 12px
  label
    font-size: 15px
    display: block
    margin-bottom: 10px
  input[type=file]
    display: block
    margin: 0 0 10px 5px
  input[type=submit]
    padding: 4px 6px
    margin: 0 5px

#questions
  .question, .answers
    margin: 0
    padding: 0

