#avatar-config
  .avatar
    float: left
    width: 150px
    margin-right: 45px
    a
      display: block
      text-align: center
  form
    max-width: 355px
    float: left
    h3
      font-size: 17px
      margin-bottom: 10px
    .upload
      margin-bottom: 2em
    input[type=submit]
      padding: 0 6px

#sidebar .avatar
  padding-top: 10px
  text-align: center
