#sidebar
  +follow-button
  +suggestions
  .email-subscribe-info, .ignore-info
    &.hidden
      display: none
  .follow-info.block
    +column(4)
    margin-top: 2px
    a
      display: block
      padding: 2px 10px
      font-size: 16px
      line-height: 20px

  h2
    margin-bottom: 15px

  .navigation
    font-size: 1.1em
    font-weight: bold
    text-align: center

  .navigation + .navigation
    margin-top: 18px
    border-top: 1px #ddd solid
    padding-top: 18px

  .suggestions
    a.follow_link, a.unfollow_link
      font-size: 0.785em

    .user.info
      ul
        max-width: 75%
        li.user-name
          margin-top: 3px
        li.user-description
          margin-top: -3px

  #import-contacts
    img
      width: 40px
      height: 40px

  .registered-students
    ul
      list-style-type: none
      overflow: hidden
      li
        .student-name
          max-width: 70%
          height: 20px
          float: left
          overflow: hidden
          white-space: nowrap
        .controls
          float: right
    .more
      float: right
      margin-bottom: 5px
      margin-bottom: 10px

  .followers
    .count
      margin-top: 1em
  .followers, .followed-topics, .profile
    .title
      > span:after
        content: '·'
        font-weight: bold
      > span:last-of-type:after
        content: ''
