@import "compass/typography/text/ellipsis"

ul#questions ul.topic-list
  +topic-container

.topic-list
  overflow: hidden
  ul
    list-style-type: none
  +topic-container
  .topic
    float: left

// User followed topics list in profile

ul.topic-list
  list-style: none
  +topic-container
  .topic
    max-width: 55%
    display: block
    +ellipsis
    .remove
      margin-left: 3px
    a.remove:hover
      text-decoration: none
  .follow-info
    float: right
    a
      color: #444444
      font-size: 0.785em

#topic-suggestions, #related-topics
  .controls
    float: right
  .follow-info
    float: left
  .refuse-suggestion
    float: right
    margin-left: 3px

#sidebar
  ul.topic-list .topic
    float: left
    padding: 2px 8px
    .topic-title
      max-width: 100%
      display: block

  #question-lists
    .topic
      clear: both
    .more
      display: block
      float: right
      margin-right: 10px
      padding: 1px

// We shouldn't display this if Javascript doesn't work.
.reclassify .empty
  display: none

.add-topic
  +button
  margin-right: 4px
  width: 10%

ul#classify-ul.topic-list
  .topic
    max-width: 530px
    .topic-title
      max-width: 490px
      display: block
      float: left

