- content_for :sidebar do
  = link_to t("invitations.new.title"), new_invitation_path

%h1.navtitle= t(".title")

%ul.items.invitations
  - @pending_invitations.each do |invitation|
    = render invitation
