= error_messages_for :user
- form_for @user, :url => settings_account_path, :html => {:class => "form"} do |f|
  = f.label :timezone, t(:timezone, :scope => "activerecord.attributes.user"), :class => "label"
  = time_zone_select( "user", "timezone", ActiveSupport::TimeZone.all, {:include_blank => true}, :class => 'label')

  .group.navform
    = submit_tag t('users.edit.submit')
