development:
  database: shapado-development
  host: localhost
  port: 27017

test: &test
  database: shapado-test

production:
  database: shapado-production

staging:
  database: shapado-development
  host: localhost
  port: 27017


cucumber:
  <<: *test
