base: &common
  site: http://example.com
  session_key: _shapado_session
  session_secret: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  rest_auth_key: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  rest_auth_digest_stretches: 10
  enable_sharing: false
  notification_email: 'MyWebsite <sample@sample.com>'
  adbard_host_id: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  adbard_site_key: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  enable_adbard: false
  application_name: MyWebsite
  enable_groups: false
  default_language: pt-BR
  enable_i18n: false
  default_timezone: "Brasilia"
  conversion_tracking_code: |
    <!-- Paste this code just above the closing </body> of your conversion page. The tag will record a conversion every time this page is loaded. Optional 'sku' and 'value' fields are described in the Help Center. -->

  about:
    users:
      - name: João Silva
        email: sample@sample.com
        bio: |

          Lorem Ipsum.

      - name: José Silva
        email: sample2@sample.com
        bio: |

          Lorem Ipsum.

  smtp:
    activate: true
    settings:
      address: "smtp.sample.net"
      port: 587
      domain: "example.com"
      authentication: 'plain'
      enable_starttls_auto: true
      user_name: "sample@sample.com"
      password: "sample"

  postmark:
    activate: false
    api_key: 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa'

  mixpanel:
    api_key: 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

  facebook:
    app_id: 101010101010101
    key: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    secret: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

  twitter:
    key: aaaaaaaaaaaaaaaaaaaaa
    secret: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

  exception_notification:
    activate: true
    exception_sender_address:
      '[MyWebsite] error notifier <error-notifier@sample.com>'
    exception_recipients:
    - sample@sample.com

development:
  <<: *common
  smtp:
    activate: false
  postmark:
    activate: false
  domain: localhost.lan
  facebook:
    app_id: 101010101010101
    key: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    secret: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

production:
  <<: *common
  domain: example.com
  googlean_domain: .example.com

staging:
  <<: *common
  smtp:
    activate: false
  postmark:
    activate: false
  domain: localhost.lan
  googlean_domain: .example.com

test:
  <<: *common
  smtp:
    activate: false
  postmark:
    activate: false
  domain: localhost.lan

