:markdown

  ## POLÍTICA DE PRIVACIDADE

  Como sua privacidade é extremamente importante para nós, há destaque
  para a política de privacidade que seguimos. Por favor, leia-a com
  atenção!


  ### I. O que são suas informações pessoais?

  As informações pessoais são aquelas capazes de identificá-lo de modo
  pessoal - seu nome, endereço, e-mail, número de telefone, CPF, RG e
  todas aquelas que não estão disponíveis ao público.

  Quando você se inscreve no UMAMÃO, nós solicitamos algumas de suas
  informações pessoais.


  ### II. Possibilidade de alteração e guarda dos dados

  Você tem a possibilidade de editar, a qualquer momento, suas
  informações.

  Você pode pedir a exclusão de sua conta solicitando-a ao e-mail:
  <contato@umamao.com>

  Após a exclusão da conta, poderão permanecer nos registros do UMAMÃO
  qualquer conteúdo público gerado pelo usuário - como perguntas,
  respostas, comentários, tópicos e artigos.


  ### III. Confiabilidade e segurança

  O acesso às suas informações pessoais está limitado aos nossos
  empregados, contratantes e agentes que precisem conhecê-las para
  processá-las em nosso nome e para oferecer melhores funcionalidades
  aos usuários do UMAMÃO, tais como serviços de estatísticas de acesso
  e similares.

  Estes intermediários e funcionários estão comprometidos com as
  obrigações de confidencialidade previstas na legislação brasileira e
  podem ser submetidos a punições legais caso não cumpram estas
  obrigações.

  Contamos com recursos de proteção física, eletrônica e procedimental
  a informações pessoais.


  ### IV. Mudanças na POLÍTICA DE PRIVACIDADE

  O UMAMÃO pode atualizar sua política de privacidade. Caso isto
  ocorra, será enviado aviso sobre as mudanças que foram
  introduzidas. Este aviso será enviado ao seu endereço de e-mail
  principal – aquele especificado em sua conta - ou será colocado em
  local de destaque de nosso site.

  LEMBRANÇA IMPORTANTE: O Usuário entende, reconhece e concorda que o
  UMAMÃO poderá acessar, preservar ou divulgar a conta, as informações
  de registro ou o conteúdo do Usuário na forma determinada pela
  lei. Poderá, ainda, acessar ou preservar a conta, as informações de
  registro ou o conteúdo do usuário quando, de boa fé e a seu
  critério, acreditar que o acesso e/ou a preservação sejam
  necessárias.

  COMPROMISSO: O UMAMÃO não vende, não aluga, não cede e nem empresta
  quaisquer informações pessoais de seus usuários para terceiros,
  EXCETO quando o próprio usuário, EXPLICITAMENTE, autorizar.
