:markdown

  ## TERMOS DE USO

  Bem-vindo ao site UMAMÃO!

  Vale lembrá-lo, caro usuário, que o acesso ao conteúdo deste website
  dependerá da sua plena concordância com os termos e condições de uso
  previstos.

  Você precisa ler atentamente as condições estabelecidas, para que
  possa utilizar todos os serviços prestados pelo nosso site. Se, por
  acaso, não concordar com qualquer termo, não deve utilizar os
  serviços, nem efetuar seu cadastro. O preenchimento do cadastro e a
  participação no site implicam na aceitação dos termos estipulados.

  ### Seção I – Para maiores de 18 anos

  1.1. Não é autorizada a participação de usuários menores de dezoito
  anos de idade. Caso seja verificada eventual infração desta
  disposição, autorizará ao UMAMÃO o sumário cancelamento do cadastro
  verificado.

  ### Seção II - Conteúdo disponibilizado e Cadastro do Usuário

  2.1.  O acesso ao conteúdo do UMAMÃO é gratuito quando realizado por
  meio de seu website.

  2.2. Qualquer pessoa – maior de idade - pode acessar o conteúdo
  exibido no website – fornecendo, nos campos específicos, todas as
  informações solicitadas. A senha criada para obter acesso ao site é
  secreta, pessoal e intransferível e ela que garantirá o seu acesso
  identificado ao UMAMÃO.

  2.3. O sigilo, a privacidade e a segurança das informações e dos
  dados pessoais do USUÁRIO dependerão de sua exclusiva
  responsabilidade. Cumpre ao USUÁRIO o sigilo e manutenção de sua
  senha, com a qual será possível navegar e acessar CONTEÚDO em seu
  nome, acessar e alterar todas as suas informações pessoais e
  cadastros.

  2.4. Caso haja qualquer suspeita de uso indevido ou não autorizado
  de sua senha ou dados cadastrais por terceiros, deve, imediatamente,
  notificar o UMAMÃO através do email <contato@umamao.com>.

  2.5. O UMAMÃO obriga-se a não utilizar as informações cadastrais
  fornecidas pelo USUÁRIO para a realização de quaisquer atividades
  ilícitas, mas somente para aquelas expressamente permitidas pela
  legislação brasileira e/ou por este contrato.

  2.6. O USUÁRIO concorda em:

    1. fornecer informações verdadeiras, exatas, atuais e completas
  quando for realizar seu cadastro para acesso ao site;

    2. conservar e atualizar suas informações de forma a mantê-las
  verdadeiras, exatas, atuais e completas.


  O USUÁRIO se responsabiliza por qualquer informação falsa,
  incorreta, desatualizada ou incompleta fornecida, e caso o UMAMÃO
  tenha razões suficientes para suspeitar da veracidade e exatidão de
  tais informações, terá o direito de suspender ou cancelar,
  imediatamente, independente de notificação, a conta do Usuário.


  ### Seção III - Das características e ATIVIDADES do SITE

  3.1. O UMAMÃO é um site que oferece uma base de conhecimento que é
  expandida e melhorada constantemente por acadêmicos e profissionais.

  O site tem como objetivo a interatividade entre o USUÁRIO,
  estudantes, professores e profissionais de diversas áreas. O USUÁRIO
  pode tanto fazer perguntas, como dar respostas sobre questões as
  mais diversas possíveis.

  3.2. A qualquer momento poderão ser incluídas novas informações no
  UMAMÃO, bem como excluídas as já existentes, sem qualquer aviso
  prévio ao USUÁRIO. Estas novas informações ficarão automaticamente
  vinculadas e subordinadas a todos os termos e condições do contrato.

  3.3. Todo o conteúdo gerado pelo USUÁRIO está sob uma licença
  Creative Commons, ou seja, existe a liberdade de compartilhar (i.e.,
  copiar, distribuir e retransmitir a obra) e remixar (criar obras
  derivadas) o conteúdo. No entanto, existem as seguintes condições:

    a. Atribuição - o USUÁRIO deve creditar a obra, indicando sempre um
  link para a fonte e, preferencialmente, o nome do autor. A
  atribuição não deve ser feita de maneira a sugerir que os autores
  concedem qualquer aval a você ou ao seu uso da obra);

    b. Compartilhamento pela mesma licença - se o USUÁRIO alterar,
  transformar ou criar em cima desta obra, poderá distribuir a obra
  resultante apenas sob a mesma licença, ou sob uma licença similar à
  presente.

  Para maiores detalhes acesse: <http://creativecommons.org/licenses/by-sa/2.5/br/>.

  ### Seção IV – Da responsabilidade exclusiva do usuário

  4.1. Cada Usuário - e nunca o UMAMÃO - é integralmente responsável
  por todo e qualquer conteúdo que seja transmitido, exibido ou de
  qualquer outra forma disponibilizado neste site. Como o UMAMÃO não
  controla o que é disponibilizado no website, não garante a correção,
  integridade ou qualidade das informações. Ao utilizar o site, o
  Usuário reconhece e concorda que poderá ficar exposto a conteúdo
  ofensivo, imoral ou censurável. Em nenhuma hipótese, o UMAMÃO será
  responsável por qualquer erro ou omissão ou por qualquer perda e
  dano de qualquer espécie resultante da utilização de conteúdo que
  seja exibido, enviado, transmitido ou de qualquer outra forma
  disponibilizado através de seu site.

  4.2. O Usuário reconhece que o UMAMÃO não faz pré-seleção do
  conteúdo a ser disponibilizado. O UMAMÃO e seus representantes terão
  o direito de, a seu exclusivo critério, retirar do site qualquer
  conteúdo que viole os Termos de Uso ou que seja censurável por
  qualquer motivo. O Usuário concorda que deverá avaliar previamente e
  assumir todos os riscos resultantes da utilização de qualquer
  conteúdo, inclusive por confiar que seja correto, completo ou
  útil. Cabe ao Usuário decidir se irá ou não confiar nas informações
  disponibilizadas por terceiros no site do UMAMÃO.

  4.3. O Usuário entende, reconhece e concorda que o UMAMÃO poderá
  acessar, preservar ou divulgar a conta, as informações de registro
  ou o conteúdo do Usuário na forma determinada pela lei. Poderá,
  ainda, acessar ou preservar a conta, as informações de registro ou o
  conteúdo do usuário quando, de boa fé e a seu critério, acreditar
  que o acesso e/ou a preservação sejam necessárias.

  4.4. Nenhuma responsabilidade, de nenhuma espécie, seja ela de
  acessibilidade, veracidade, legalidade do conteúdo ou outra
  qualquer, poderá ser imputada ao UMAMÃO, sempre que o USUÁRIO, por
  meio do UMAMÃO, obtiver acesso a Sites ou Links de propriedade,
  administração e/ou controle de terceiros, tais como patrocinadores,
  parceiros, ou prestadores de serviços em geral.

  ### Seção V - Demais exclusões de Responsabilidade do UMAMÃO

  5.1. O UMAMÃO fará seus melhores esforços para manter seu site
  acessível de forma constante e ininterrupta. O USUÁRIO reconhece e
  aceita, no entanto, que o UMAMÃO também não será responsável:

  a) Pela impossibilidade de acesso ou falha de comunicação com seu
  website, decorrente de:

  I) quaisquer defeitos ou inadequação dos equipamentos utilizados
  pelo USUÁRIO para acessar o UMAMÃO, incluindo, mas não se limitando,
  aos softwares, hardwares, sistemas de processamento e quaisquer
  conexões de rede;

  II) inabilidade do USUÁRIO para operação dos seus equipamentos;

  III) falta de compreensão das instruções contidas no site;

  IV) falhas na Rede Mundial de Computadores (Internet) e Provedores;

  V) falhas nos sistemas, softwares e/ou hardwares do UMAMÃO;

  VI) interrupções propositais realizadas pelo UMAMÃO por quaisquer motivos;

  VII) interrupção das atividades do website;

  VIII) caso fortuito ou força maior, etc.


  ### Seção VI - Território/Lei Aplicável

  6.1. As presentes condições são regidas única e exclusivamente pelas
  leis brasileiras, e qualquer discussão judicial que surja tendo por
  base sua interpretação ou aplicação deverá ser julgada por tribunais
  brasileiros.

  6.2. Em caso de conflito de leis estaduais ou municipais, para a
  interpretação de qualquer dúvida ou litígio, deverá sempre
  prevalecer a legislação do Estado de São Paulo.

  6.3. Aplicam-se, subsidiariamente a este contrato, além das normas
  dispostas pelo Código Civil e legislação em geral, também as das
  Leis 9.609 e 9.610 de 19 de fevereiro de 1.998 (Lei de Direito do
  Autor e Software).
