-# Bulk-following of topics in user settings.

%h2.title
  = t(".title")
= error_messages_for :user

%input.text_field#follow-topics-autocomplete{:type => "text-field"}
%ul.autocomplete-list#follow-topics-suggestions
%ul.items#followed-topics
  - @topics.each do |topic|
    = render :partial => "topics/topic", :locals => {:topic => topic}

= will_paginate @topics
