- content_for :subtabs do
  .navtitle
    = t(".title")

- if @results.present?
  %ul.items
    - @results.each do |result|
      %li.item= render :partial => "result", :locals => {:result => result}
