- content_for :subtabs do
  .navtitle
    = t(".title")

- if @results.present?
  %ul#long-search-results.items
    - @results.each do |result|
      - result_class = result.root_class.to_s.underscore
      %li.item{:class => result_class}
        = render(:partial => result_class,
                 :locals => {result_class.to_sym => result})
  = will_paginate @results
- else
  = t(".empty")
