%ul.items#external_accounts{:style => 'margin-top: 30px'}
  = render :state => :facebook
  = render :state => :twitter

%p{:style => 'margin-top: 20px'} Conecte suas contas para:

%p * Importar a foto do seu perfil (em breve);
%p * Encontrar seus amigos que já estão no Umamão (em breve);
%p * Compartilhar as coisas que você acha interessantes (em breve).
%p
  Obs.: Nós <strong>nunca</strong> postaremos nada nas suas contas sem
  que antes você o tenha requisitado explicitamente.