- if !@current_user.suggested_user_ids.blank?
  = render_cell :suggestions, :users
- if !@current_user.suggested_topic_ids.blank?
  -# This should always happen right now
  = render_cell :suggestions, :topics
