- if !@suggestion_list.suggested_user_ids.blank?
  = render_cell :suggestions, :users
- if !@suggestion_list.suggested_topic_ids.blank?
  -# This should always happen right now
  = render_cell :suggestions, :topics
