- group = @resource.instance_variable_get("@group")
- domain = ActionMailer::Base.default_url_options[:host]


Bem-vindo(a), #{@resource.name.split(' ').first}!

Precisamos confirmar seu endereço de email acadêmico no Umamão. Para
fazer isso, é só clicar no link abaixo:

= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

Caso não tenha se cadastrado no site, por favor, desconsidere este email.

