- group = @resource.instance_variable_get("@group")
-domain = ActionMailer::Base.default_url_options[:host]

%p
  Bem-vindo(a)
  = @resource.email
  \!
%p
  Você recebeu esta mensagem para confirmar seu endereço de email acadêmico no
  = link_to 'Umamão', domain
  \. Clique no link abaixo para concluir seu registro: 
%p
  = link_to 'Confirmar meu endereço', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p
  Caso não tenha cadastrado seu endereço no site, favor desconsiderar essa mensagem.

