- group = @resource.instance_variable_get("@group")
- domain = group ? group.domain : ActionMailer::Base.default_url_options[:host]
- port = ActionMailer::Base.default_url_options[:port]

%p
  Oi
  = @resource.name.split(' ').first
  \!

-# Need to bypass mongomapper here, because we don't define
-# :needs_confirmation as a key in the model
- if @resource[:needs_confirmation]
  %p
    Como você deve ter ouvido falar, estamos passando por grandes
    mudanças no Umamão. Migramos o software para uma solução livre e,
    como parte desta migração, precisamos que você redefina sua senha
    (pode usar a mesma de antes), ou crie uma nova se ainda não
    tinha. Para fazer isto, basta clicar no link abaixo:
- else
  %p
    Esqueceu a senha? Não tem problema. Para cadastrar uma nova é só
    clicar no link abaixo:

%p
  = link_to 'Criar nova senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :host => domain, :port => port)
- if @resource[:needs_confirmation]
  %p
    Se tiver qualquer dúvida ou dificuldade, escreva para
    helder@umamao.com.br (*não* responda este email) que eu te ajudo
    pessoalmente.
  %p
    Obrigado por estar com a gente desde o começo! Muita coisa nova e
    empolgante está por vir, e espero que você compartilhe isso com a
    gente.
  %p
    Abraço,
  %p
    Helder Ribeiro
    Fundador do Umamão

- else
  %p
    Se você não pediu para trocar de senha, pode ignorar este
    email. Sua senha não vai mudar se você não clicar no link acima.
  %p
    Se tiver qualquer dúvida ou dificuldade, escreva para
    equipe@umamao.com.br (*não* responda este email) que teremos
    prazer em te ajudar.
  %p
    Sucesso!
  %p
    Equipe Umamão
