#my-footer-menu
  = link_to "feedback", feedback_url

%p.center
  %a{:rel => "license", :href => "http://creativecommons.org/licenses/by-sa/2.5/br/"}
    %img{:alt => "Licença Creative Commons", :style => "border-width:0",
         :src => "http://i.creativecommons.org/l/by-sa/2.5/br/88x31.png"}
  %br
  Todo o conteúdo gerado por usuários está licenciado sob uma
  #{link_to "licença Creative Commons", "http://creativecommons.org/licenses/by-sa/2.5/br/", :rel => "license"},
  com
  #{link_to "atribuição obrigatória", "atribuição"}.
